 .ui.left.fixed.vertical.inverted.menu
 {display:none;}

.ui.four.steps
{display:none;}

.footer
{display:none;}

.ui.main.grid
{left:2%;width:100%;}

.actions
{display:none;}

div{font-size:xx-small;}
