{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}} - Food preferences

{% endblock %}

{% block subcontent %}

<div class="ui segment">

<h3 class="ui header">
    {% trans 'Meal status' %}
    <a  href="{% url 'admin:member_client_change' client.id %}">
        <i class="write grey icon"></i>
    </a>
</h3>
<p>{{client.get_status_display}}</p>
<h3 class="ui header">
    {% trans 'Restrictions' %}
    <a  href="{% url 'admin:member_client_change' client.id %}">
        <i class="write grey icon"></i>
    </a>
</h3>
<div>
    <div class="ui label">
        {% trans 'Tomato' %}
    </div>
    <div class="ui label">
        {% trans 'Basil' %}
    </div>
    {% for restriction in client.restrictions.all %}
    <div class="ui label">
        {% trans 'Tomato' %}
    </div>
    <div class="ui label">
        {% trans 'Basil' %}
    </div>
    {% endfor %}
</div>
<h3 class="ui header">
  {% trans "Meal Default" %}
  <a href="{% url 'admin:member_client_change' client.id %}">
    <i class="write grey icon"></i>
  </a>
</h3>
{% for default in meal_default %}

<div>
  {{default}}
</div>
{% endfor %}
</div>
{% endblock %}
