{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}

  {{client}}

{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{{ client }}</div>
{% endblock breadcrumb %}

{% block content %}

  <div class="ui grid">
    <div class="sixteen wide column">
      <h1 class="ui header">{{client}}</h1>
    </div>
    <div class="sixteen wide column">
      <div class="ui warning message">
        <div class="header">
          {% trans 'Alert' %}
      </div>
      {{ client.alert }}
    </div>
      <div class="ui two column grid">
        <div class="column">
          <div class="ui raised segment">
            <div class="ui blue ribbon label">
              <i class="male icon"></i>
            </div>
            <span>
              <h3>{% trans 'Basic Information' %}
                <a class="ui right floated icon button" href="/admin/member/client/{{client.id}}/change">
                  <i class="write icon"></i>
                </a>
              </h3>
            </span>
            <div class="ui clearing divider"></div>
            <div>
              {% trans 'First Name' %}: {{client.member.firstname}}
            </div>
            <div>
              {% trans 'Last Name' %}: {{client.member.lastname}}
            </div>
            <div>
              {% trans 'Gender' %}: {{client.member.gender}}
            </div>
            <div>
              {% trans 'Language' %}: {{client.language}}
            </div>
            <div>
              {% trans 'Status' %}: {{client.status}}
            </div>
            <div>
              {% trans 'Birthday' %}: {{client.member.birthdate}}
            </div>
            {% for contact in client.member.member_contact.all %}
            <div>
              {% trans 'Contact Type' %}: {{contact.type}}
            </div>
            <div>
              {% trans 'Contact Information' %}: {{contact.value}}
            </div>
            {% endfor %}
          </div>
          <div class="ui raised segment">
            <div class="ui grey ribbon label">
              <i class=" home icon"></i>
            </div>
              <span>
                <h3> {% trans 'Address' %}
                  <a class="ui right floated icon button" href="/admin/member/address/{{client.member.member_address.first.id}}/change">
                    <i class="write icon"></i>
                  </a>
                </h3>
            </span>
              <div class="ui clearing divider"></div>
              {% for address in client.member.member_address.all %}
              <div>
                {% trans 'Street' %}: {{address.street}}
              </div>
              {% if client.billing_address.appartment != None %}}
              <div>
                {% trans 'Appartment' %}: {{address.appartment}}
              </div>
              {% endif %}
              <div>
                {% trans 'City' %}: {{address.city}}
              </div>
              <div>
                {% trans 'Postal Code' %}: {{address.postal_code}}
              </div>
              {% endfor %}
            </div>
          <div class="ui raised segment">
            <div class="ui teal ribbon label">
            <i class="food icon"></i>
          </div>
          <span>
            <h3>{% trans 'Meal Information' %}
              <a class="ui right floated icon button" href="/admin/member/client/{{client.id}}/change">
                <i class="write icon"></i>
              </a>
            </h3>
          </span>
          <div class="ui clearing divider"></div>
          {% for allergy in client.allergies.all %}
          <div>
            {% trans 'Allergies' %}: {{allergy.name}}
          </div>
          {% endfor %}
          {% for restriction in client.restrictions.all %}
          <div>
            {% trans 'Restrictions' %}: {{restriction.name}}
          </div>
          {% endfor %}
          <div>
            {% trans 'Default Meal' %}: {{client.default_meal}}
          </div>
          <div>
            {% trans 'Start Date' %}: {{client.start_date}}
          </div>
          <div>
            {% trans 'Meal delivery Schedule' %}: {{client.client_order.delivery}}
          </div>
          </div>
          {% if client.notes != none %}
          <div class="ui raised segment">
            <div class="ui purple ribbon label">
              <i class="book icon"></i>
            </div>
              <span>
                <h3>{% trans 'Notes' %}
                  <a class="ui right floated icon button" href="/admin/member/note/{{client.member.notes.first.id}}/change">
                    <i class="write icon"></i>
                  </a>
                </h3>
              </span>
              <div class="ui clearing divider"></div>
              {% for note in client.member.notes%}
              <div>
                {% trans 'Author' %}: {{note.author}}
              </div>
              <div>
                {% trans 'Creation Date' %}: {{note.creation_date}}
              </div>
              <div>
                {% trans 'Notes' %}: {{note.note}}
              </div>
              <div>
                {% trans 'Priority' %}: {{note.priority}}
              </div>
              {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="column">
          <div class="ui raised segment">
            <div class="ui black ribbon label">
              <i class="first aid icon"></i>
            </div>
              <span>
                <h3> {% trans 'Emergency Contact' %}
                  <a class="ui right floated icon button" href="/admin/member/member/{{client.emergency_contact.id}}/change">
                    <i class="write icon"></i>
                  </a>
                </h3>
              </span>
              <div class="ui clearing divider"></div>
              <div>
                {% trans 'First Name' %}: {{client.emergency_contact.firstname}}
              </div>
              <div>
                {% trans 'Last Name' %}: {{client.emergency_contact.lastname}}
              </div>
              {% for contact in client.emergency_contact.member_contact.all %}
              <div>
                {% trans 'Contact type' %}: {{contact.type}}
              </div>
              <div>
                {% trans 'Contact value' %}: {{contact.value}}
              </div>
              {% endfor %}
              <div>
                {% trans 'Relationship' %}: {{client.emergency_contact.relationship}}
              </div>
          </div>
          <div class="ui raised segment">
            <div class="ui green ribbon label">
              <i class="treatment icon"></i>
            </div>
              <span>
                <h3>
                  {% trans 'Referent' %}
                  <a class="ui right floated icon button" href="/admin/member/referencing/{{client.client_referent.first.id}}/">
                    <i class="write icon"></i>
                  </a>
                </h3>
              </span>
              <div class="ui clearing divider"></div>
              {% for referent in client.client_referent.all %}
              <div>
                {% trans 'First Name' %}: {{ referent.referent.firstname }}
              </div>
              <div>
                {% trans 'Last Name' %}: {{referent.referent.lastname}}
              </div>
              <div>
                {% trans 'Workplace Information' %}: {{referent.work_information}}
              </div>
              {% for contact in referent.referent.member_contact.all %}
              <div>
                {% trans 'Contact type' %}: {{contact.type}}
              </div>
              <div>
                {% trans 'Contact value' %}: {{contact.value}}
              </div>
              {% endfor %}
              <div>
                {% trans 'Referral Date' %}: {{referent.date}}
              </div>
              <div>
                {% trans 'Referal Reason' %}: {{referent.referral_reason}}
              </div>
              {% endfor %}
            </div>
        <div class="ui raised segment">
          <div class="ui red ribbon label">
            <i class="dollar icon"></i>
          </div>
            <span>
              <h3> {% trans 'Payment' %}
                <a class="ui right floated icon button" href="/admin/member/client/{{client.id}}/change">
                  <i class="write icon"></i>
                </a>
              </h3>
            </span>
            <div class="ui clearing divider"></div>
            <div>
              {% trans 'First Name' %}: {{client.billing_firstname}}
            </div>
            <div>
              {% trans 'Last Name' %}: {{client.billing_lastname}}
            </div>
            <div>
              {% trans 'Street' %}: {{client.billing_address.street}}
            </div>
            {% if client.billing_address.appartment != None %}}
            <div>
              {% trans 'Appartment' %}: {{client.billing_address.appartment}}
            </div>
            {% endif %}
            <div>
              {% trans 'City' %}: {{client.billing_address.city}}
            </div>
            <div>
              {% trans 'Postal Code' %}: {{client.billing_address.postal_code}}
            </div>
            <div>
              {% trans 'Payment Method' %}: {{client.billing_payment_type}}
            </div>
            <div>
              {% trans 'Rate type' %}: {{client.facturation}}
            </div>
          </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}
