{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}}

{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{client}}</h2>
    <div class="right menu">
      <div class="ui item">
          <div class="ui large label">{{ client.get_status_display }}</div>
      </div>
    </div>
</div>

<div class="ui icon small message">
    <i class="warning icon"></i>
    <div class="content">
        <p>{{ client.alert }}</p>
    </div>
</div>

<div class="ui four wide">
    {% include "client/client_info.html" %}
</div>
<div class="ui grid">

    <div class="sixteen wide column">

        <div class="ui top attached tabular menu">
              <a class="item active" data-tab="first"><i class="user icon"></i>Personal</a>
              <a class="item" data-tab="second"><i class="food icon"></i>Preferences</a>
              <a class="item" data-tab="third"><i class="treatment icon"></i>Referent</a>
              <a class="item" data-tab="four"><i class="payment icon"></i>Billing</a>
              <a class="item" data-tab="five"><i class="book icon"></i>{% trans 'Notes' %}</a>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="first">
            <h3 class="ui header">
                Basic information
                <a  href="{% url 'admin:member_client_change' client.id %}">
                    <i class="write grey icon"></i>
                </a>
            </h3>
            <div class="ui list">
                <div class="item">{% trans 'First Name' %}: {{client.member.firstname}}</div>
                <div class="item">{% trans 'Last Name' %}: {{client.member.lastname}}</div>
                <div class="item">{% trans 'Gender' %}: {{client.get_gender_display}}</div>
                <div class="item">{% trans 'Language' %}: {{client.get_language_display}}</div>
                <div class="item">{% trans 'Status' %}: {{client.get_status_display}}</div>
                <div class="item">{% trans 'Delivery Type' %}: {{client.get_delivery_type_display}}</div>
                <div class="item">{% trans 'Birthday' %}: {{client.birthdate}}</div>
                {% for contact in client.member.member_contact.all %}
                    <div class="item">{{contact.type}}: {{contact.value}}</div>
                {% endfor %}
                <h4 class="item"><i class="icon home"></i>{{client.member.address.street}}, {{client.member.address.city}}, {{client.member.address.postal_code}}</h4>
            </div>

            <h3 class="ui header">
                {% trans 'Emergency Contact' %}
                <a  href="{% url 'admin:member_member_change' client.emergency_contact.id %}">
                    <i class="write grey icon"></i>
                </a>
            </h3>
            <div class="ui list">
                <div class="item">{% trans 'First Name' %}: {{client.emergency_contact.firstname}}</div>
                <div class="item">{% trans 'Last Name' %}: {{client.emergency_contact.lastname}}</div>
                <div class="item">{% trans 'Relationship' %}: {{rclient.emergency_contact.relationship}}</div>
                {% for contact in client.emergency_contact.member_contact.all %}
                <div class="item">{{contact.type}}: {{contact.value}}</div>
                {% endfor %}
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="second">
            <h3 class="ui header">
                Meal status
                <a  href="{% url 'admin:member_client_change' client.id %}">
                    <i class="write grey icon"></i>
                </a>
            </h3>
            <p>{{client.get_status_display}}</p>
            <h3 class="ui header">
                Restrictions
                <a  href="{% url 'admin:member_client_change' client.id %}">
                    <i class="write grey icon"></i>
                </a>
            </h3>
            <div>
                <div class="ui label">
                    Tomato
                </div>
                <div class="ui label">
                    Basil
                </div>
                {% for restriction in client.restrictions.all %}
                <div class="ui label">
                    Tomato
                </div>
                <div class="ui label">
                    Basil
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="third">
            <h3 class="ui header">
                Referent
                <a  href="{% url 'admin:member_referencing_change' client.client_referent.first.id %}">
                    <i class="write grey icon"></i>
                </a>
            </h3>
            <div class="ui list">
            {% for referent in client.client_referent.all %}
                <div class="item">{% trans 'First Name' %}: {{referent.referent.firstname}}</div>
                <div class="item">{% trans 'Last Name' %}: {{referent.referent.lastname}}</div>
                <div class="item">{% trans 'Workplace information' %}: {{referent.work_information}}</div>
                <div class="item">{% trans 'Referral Date' %}: {{referent.date}}</div>
                <div class="item">{% trans 'Referral Reason' %}: {{referent.referral_reason}}</div>
                {% for contact in referent.referent.member_contact.all %}
                <div class="item">{{contact.type}}: {{contact.value}}</div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="four">
            <h3 class="ui header">
                Billing
            </h3>
            <div class="ui list">
                <div class="item">{% trans 'First Name' %}: {{client.billing_member.firstname}}</div>
                <div class="item">{% trans 'Last Name' %}: {{client.billing_member.lastname}}</div>
                <div class="item">{% trans 'Payment method' %}: {{client.get_billing_payment_type_display}}</div>
                <div class="item">{% trans 'Rate type' %}: {{client.get_rate_type_display}}</div>
                <h4 class="item"><i class="icon home"></i>{{client.billing_member.address.street}}, {{client.billing_member.address.city}}, {{client.billing_member.address.postal_code}}</h4>

            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="five">
            <h3 class="ui header">
                Notes
            </h3>
            <div class="ui feed">
                {% for note in notes %}
                <div class="event">
                    <div class="label">
                        <i class="{% if note.priority == 'urgent' %} announcement red {% else %} green info {% endif %} icon"></i>
                    </div>
                    <div class="content">
                        <div class="date">
                            {{ note.date }}
                        </div>
                        <div class="summary">
                            {{ note.note }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    document.addEventListener( 'DOMContentLoaded', function () {
        $('.menu .item')
          .tab()
        ;
    })
</script>

{% endblock %}
