{% load i18n %}
<h4 class="ui dividing header">{{ _('Identity') }}</h4>
<div class="field">
    <label>{{ _('Name') }}</label>
    <div class="two fields">
        <div class="field {% if form.firstname.errors %} error {% endif %}">
            {{form.firstname}}
        </div>
        <div class="field {% if form.lastname.errors %} error {% endif %}">
            {{form.lastname}}
        </div>
    </div>
</div>


<div class="field">
    <label>{{ form.gender.label }}</label>
    {{ form.gender }}
</div>

<div class="field {% if form.birthdate.errors %} error {% endif %}">
    <label>{{ form.birthdate.label }}</label>
    <div class="ui calendar" id="wizard_form_birthdate">
        <div class="ui input left icon">
              <i class="calendar icon"></i>
              {{ form.birthdate }}
        </div>
    </div>
</div>

<h4 class="ui dividing header">{{ _('Contact information') }}</h4>

<div class="field">
    <label>{{ form.language.label }}</label>
    {{ form.language }}
</div>

<div class="inline fields">
    <div class="field">
        <label>{{ form.contact_type.label }}</label>
        <div class="field">
        {{ form.contact_type }}
    </div>
    </div>
    <div class="field">
        <label>{{ form.contact_value.label }}</label>
        <div class="field {% if form.contact_value.errors %} error {% endif %}">
            {{ form.contact_value }}
        </div>
    </div>
</div>
<h4 class="ui dividing header">{{ _('Alert') }}</h4>
<div class="field {% if form.alert.errors %} error {% endif %}">
    <div class="ui message attached">
        <p>{% trans 'This message will be hightlighted on the client record.' %}</p>
    </div>
    {{ form.alert }}
</div>
