{% load i18n %}
<h4 class="ui dividing header">{% trans 'Emergency contact' %}</h4>

<div class="ui center aligned basic segment">
  <div class="ui fluid category search" data-url="{% url 'member:search' %}">
    <div class="ui icon input">
      {{form.member}}
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui horizontal divider">
    {% trans 'Or' %}
  </div>
  <div class="ui teal labeled icon button add emergency contact member">
    {% trans 'Create new emergency contact' %}
    <i class="add icon"></i>
  </div>

  <div class="ui form add emergency contact member transition hidden">
    <div class="content">
      <div class="ui icon button cancel add emergency contact member right floated">
        <i class="close icon"></i>
      </div>

      <div class="field">
        <label>{% trans 'Name' %}</label>
        <div class="two fields">
          <div class="field {% if form.firstname.errors %} error {% endif %}">
            {{form.firstname}}
          </div>
          <div class="field {% if form.lastname.errors %} error {% endif %}">
            {{form.lastname}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="field">
  <label>{% trans 'Contact information' %}</label>
  <div class="two fields">
    <div class="field">
      {{form.contact_type}}
    </div>
    <div class="field {% if form.contact_value.errors %} error {% endif %}">
      {{form.contact_value}}
    </div>
  </div>
</div>
