{% load i18n %}
<h4 class="ui dividing header">{% trans 'Emergency contact' %}</h4>

<div class="ui center aligned basic segment">
  <div class="ui fluid category search">
    <div class="ui icon input" data-url="{% url 'member:search' %}">
      {{form.member}}
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui horizontal divider">
    {% trans 'Or' %}
  </div>
  <div class="ui teal labeled icon button add emergency contact member">
    {% trans 'Create new emergency contact' %}
    <i class="add icon"></i>
  </div>

  <div class="ui form add emergency contact member transition hidden">
    <div class="content">
      <div class="ui icon button cancel add emergency contact member right floated">
        <i class="close icon"></i>
      </div>

      <div class="field">
        <label>{% trans 'Name' %}</label>
        <div class="two fields">
          <div class="field {% if form.firstname.errors %} error {% endif %}">
            {{form.firstname}}
          </div>
          <div class="field {% if form.lastname.errors %} error {% endif %}">
            {{form.lastname}}
          </div>
        </div>

        <label>{% trans 'Contact information' %}</label>
        <div class="three fields">
          <div class="field {% if form.email.errors %} error {% endif %}">
            <div class="ui left icon input">
              <i class="at grey icon"></i>
              {{ form.email }}
            </div>
          </div>
          <div class="field {% if form.work_phone.errors %} error {% endif %}">
            <div class="ui left icon input">
              <i class="building icon"></i>
              {{ form.work_phone }}
            </div>
          </div>
          <div class="field {% if form.cell_phone.errors %} error {% endif %}">
            <div class="ui left icon input">
              <i class="call icon"></i>
              {{ form.cell_phone }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="field">
  <label>{% trans 'Contact relationship' %}</label>
  <div class="field {% if form.relationship.errors %} error {% endif %}">
      {{form.relationship}}
  </div>
</div>
