{% load i18n %}
<h4 class="ui dividing header">{% trans 'Referent' %}</h4>

<div class="ui center aligned basic segment">
  <div class="ui fluid category search">
    <div class="ui icon fluid input" data-url="{% url 'member:search' %}">
      {{form.member}}
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui horizontal divider">
    {% trans 'Or' %}
  </div>
  <div class="ui teal labeled icon button add referent member">
    {% trans 'Create new referent member' %}
    <i class="add icon"></i>
  </div>

  <div class="ui form add referent member transition hidden">
    <div class="content">
      <div class="ui icon button cancel add referent member right floated">
        <i class="close icon"></i>
      </div>
      <div class="field {% if form.firstname.errors or form.lastname.errors %} error {% endif %}">
        <label>{% trans 'Name' %}</label>
        <div class="two fields">
          <div class="field {% if form.firstname.errors %} error {% endif %}">
              {{form.firstname}}
          </div>
          <div class="field {% if form.lastname.errors %} error {% endif %}">
              {{form.lastname}}
          </div>
        </div>
      </div>
      <div class="field {% if form.work_information.errors %} error {% endif %}">
        <label>{{ form.work_information.label }}</label>
        {{ form.work_information }}
      </div>
      <div class="field">
        <label>Contact information</label>
        <div class="three fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              {{form.email}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="building icon"></i>
              {{form.work_phone}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="call icon"></i>
              {{form.cell_phone}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<h4 class="ui dividing header">{% trans 'Referral reason' %}</h4>

<div class="field {% if form.date.errors %} error {% endif %}">
    <label>{{ form.date.label }}</label>
    <div class="ui calendar" id="wizard_form_date">
        <div class="ui input left icon">
              <i class="calendar icon"></i>
              {{ form.date }}
        </div>
    </div>
</div>

<div class="field {% if form.referral_reason.errors %} error {% endif %}">
    <div class="ui message attached">
        <p>{% trans 'Please describe the referral reason(s)' %}</p>
    </div>
    {{ form.referral_reason }}
</div>
