{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load rules %}
{% load member_extras %}

{% block title %}{% trans "Staff Notes" %}{% endblock %}

{% block content %}
{% has_perm 'sous_chef.edit' request.user as can_edit_data %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Staff Notes" %}</h1>

    <div class="right menu">

    </div>
</div>




<div class="ui padded basic segment">
    {% if can_edit_data %}
    <a href="{% url 'note:note_add' %}" class="ui labeled icon right basic big button">
        <i class="add icon"></i>{% trans 'New note' %}
    </a>
    <div class="ui horizontal divider">
        {% trans 'Or' %}
    </div>
    {% endif %}


    <div class="ui row">
      <form action="" method="get" class="ui form">

        <div class="inline fields">
          <div class="field">
            <label>{% trans "Name" %}</label>
            <div class="field">
              <div class="ui large left icon input">
                <i class="users icon"></i>
                {{ filter.form.name }}
              </div>
            </div>
          </div>
          <div class="field">
            <label>{% trans "Priority" %}</label>
            <div class="field">
              {{ filter.form.priority|alter_field_class:'ui dropdown' }}
            </div>
          </div>
          <div class="field">
            <label>{% trans "Category" %}</label>
            <div class="field">
              {{ filter.form.category|alter_field_class:'ui dropdown' }}
            </div>
          </div>
      </div>
      <div class="inline fields">
          <div class="field">
            <label>{% trans "Is read" %}</label>
            <div class="field">
              {{ filter.form.is_read|alter_field_class:'ui dropdown' }}
            </div>
          </div>
          <div class="field">
              <label>{% trans 'Date' %}</label>
              <div class="field">
                  <div class="ui calendar" id="note_date">
                      <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ filter.form.date }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="field">
          <a href="{{ request.path }}?display={{ display }}" class="ui button">{% trans "Reset" %}</a>
          <button class="ui yellow button" type="submit">{% trans "Search" %}</button>
        </div>
      </form>
    </div>
    <table class="ui basic compact table">
      <tbody>
        {% for note in notes %}
        <tr {% if not note.is_read %} class="{% if note.priority == 'urgent' %}warning{% else %}warning{% endif %}" {% endif %}>
          <td class="center aligned">
            {% if note.priority == "Urgent" %}
              {{note.priority}}
            <i class="warning sign middle aligned icon" title="{% trans 'Urgent' %}"></i>
            {% else %}
            <small>{{note.category}}</small>
            {% endif %}
          </td>
          <td style="width:100%;{% if not note.is_read %}font-weight:bold!important{% endif %}">
            <a class="header" href="{% url 'member:client_information' pk=note.client.id %}">{{note.client}}</a>
            <div class="description">
              {{ note.note }}
            </div>
            <div class="description">
              <div class="date">
                <small>{{note.date}} {% trans 'created by' %} {{note.author}}</small>
              </div>
            </div>
          </td>
          <td class="right aligned" style="white-space:nowrap">
            {% if note.is_read %}
            <button class="ui tiny basic button" data-note-id="{{note.id}}" data-batch-commit-btn="#batch-commit-btn">
              {% trans 'Mark as unread' %}
            </button>
            {% else %}
            <button class="ui tiny basic yellow button" data-note-id="{{note.id}}" data-batch-commit-btn="#batch-commit-btn">
              {% trans 'Mark as read' %}
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="ui row">
      {% if is_paginated %}
      <div class="ui pagination menu" style="margin: 2em auto">
        {% if page_obj.has_previous %}
        <a class="icon item"
           href="{{ request.path }}{{ get }}page={{ page_obj.previous_page_number }}">
            <i class="left arrow icon"></i>
        </a>
        {% endif %}
        <a class="active item">
          {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        </a>
        {% if page_obj.has_next %}
        <a class="icon item"
           href="{{ request.path }}{{ get }}page={{ page_obj.next_page_number }}">
            <i class="right arrow icon"></i>
        </a>
        {% endif %}
      </div>
      {% endif %}


      <form action="{% url 'note:batch_toggle' %}" method="post" style="float:right;margin-right:0.5em">
        {% csrf_token %}
        {% for note in notes %}
          {% if not note.is_read %}
          <input type="hidden" name="note" value="{{ note.id }}">
          {% endif %}
        {% endfor %}
        <button class="ui button" style="margin: 2em auto" type="submit">
          {% trans 'Mark all as read' %}
        </button>
      </form>

      <form action="{% url 'note:batch_toggle' %}" method="post" style="float:right;margin-right:0.5em">
        {% csrf_token %}
        <button type="submit" class="ui yellow button" style="margin: 2em auto; display:none" id="batch-commit-btn">{% trans 'Commit selected changes' %}</button>
      </form>
    </div>
{% endblock %}
