{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load rules %}
{% load member_extras %}

{% block title %}{% trans "Staff Notes" %}{% endblock %}

{% block content %}
{% has_perm 'sous_chef.edit' request.user as can_edit_data %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Staff Notes" %}</h1>

    <div class="right menu">

    </div>
</div>




<div class="ui padded basic segment">
    {% if can_edit_data %}
    <a href="{% url 'note:note_add' %}" class="ui labeled icon right basic big button">
        <i class="add icon"></i>{% trans 'New note' %}
    </a>
    <div class="ui horizontal divider">
        {% trans 'Or' %}
    </div>
    {% endif %}


    <div class="ui row">
      <form action="" method="get" class="ui form">

        <div class="inline fields">
          <div class="field">
            <label>{% trans "Name" %}</label>
            <div class="field">
              <div class="ui large left icon input">
                <i class="users icon"></i>
                {{ filter.form.name }}
              </div>
            </div>
          </div>
          <div class="field">
            <label>{% trans "Priority" %}</label>
            <div class="field">
              {{ filter.form.priority|alter_field_class:'ui dropdown' }}
            </div>
          </div>
          <div class="field">
            <label>{% trans "Category" %}</label>
            <div class="field">
              {{ filter.form.category|alter_field_class:'ui dropdown' }}
            </div>
          </div>
          <div class="field">
            <label>{% trans "Is read" %}</label>
            <div class="field">
              {{ filter.form.is_read|alter_field_class:'ui dropdown' }}
            </div>
          </div>
          <div class="field">
              <label>{% trans 'Date' %}</label>
              <div class="field">
                  <div class="ui calendar" id="note_date">
                      <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ filter.form.date }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="field">
          <a href="{{ request.path }}?display={{ display }}" class="ui button">{% trans "Reset" %}</a>
          <button class="ui yellow button" type="submit">{% trans "Search" %}</button>
        </div>
      </form>
    </div>
    <div class="ui relaxed divided list">
      {% for note in notes %}
      <div class="item">
        <div class="right floated content">
            {% if note.is_read %}
            <a class="ui tiny  button " href="{% url 'note:unread' note.id %}">
            {% trans 'Mark as unread' %}</a>
            {% else %}
            <a class="ui tiny  button" href="{% url 'note:read' note.id %}">
            {% trans 'Mark as read' %}
            {% endif %}
            </a>
        </div>
        <i class="{% if note.priority == 'urgent' %} warning sign {% else %} info {% endif %} middle aligned icon"></i>
        <div class="content">
            <a class="header" href="{% url 'member:client_information' pk=note.client.id %}">{{note.client}}</a>
            <div class="description">
                {{ note.note }}
            </div>
            <div class="description">
                <div class="date">
                    <em>{{note.date}}</em>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if is_paginated %}

    <div class="ui row">
      <div class="ui pagination menu" style="margin: 2em auto; width=100%;";>
        {% if page_obj.has_previous %}
        <a class="icon item"
           href="{{ request.path }}{{ get }}page={{ page_obj.previous_page_number }}">
            <i class="left arrow icon"></i>
        </a>
        {% endif %}
        <a class="active item">
          {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        </a>
        {% if page_obj.has_next %}
        <a class="icon item"
           href="{{ request.path }}{{ get }}page={{ page_obj.next_page_number }}">
            <i class="right arrow icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
    {% endif %}
{% endblock %}
