{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %}Client{% endblock %}

{% block extrahead %}
<link href="{% static 'css/calendar.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
<script type="text/javascript">
    // Init status dropdown behavior
    $('.ui.dropdown').dropdown({transition: 'drop'});

    // I prefer to use «Click Event» instead of «Dropdown Change»,
    // because I don't need this behavior when restoring default dropdown value
    // when denying modal
    $('.ui.dropdown.status > .menu > .item').click(function () {
        var value = $(this).data('value');
        var modalCtntURL = "{% url 'member:clientStatusSchedulerModal' client.id %}";
        $.get(modalCtntURL, {status:value, csrfmiddlewaretoken: '{{ csrf_token }}',}, function(data){
                $('.ui.modal.status')
                    .html(data)
                    .modal("setting", {
                        closable: false,
                        // Inside modal init
                        onVisible: function () {
                            // Enable status confirmation dropdown
                            $('.ui.status_to.dropdown').dropdown();
                            // Init dates field (start and end)
                            $('#rangestart').calendar({
                                type: 'date',
                                on: 'click',
                                formatter: {
                                    date: function (date, settings) {
                                        if (!date) return '';
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        if (month < 10) month = '0' + month;
                                        if (day < 10) day = '0' + day;
                                        return year + '-' + month + '-' + day;
                                    }
                                },
                                endCalendar: $('#rangeend')
                            });
                            $('#rangeend').calendar({
                                type: 'date',
                                formatter: {
                                    date: function (date, settings) {
                                        if (!date) return '';
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        if (month < 10) month = '0' + month;
                                        if (day < 10) day = '0' + day;
                                        return year + '-' + month + '-' + day;
                                    }
                                },
                                startCalendar: $('#rangestart')
                            });
                        },
                        // When approvind modal, submit form
                        onApprove: function($element) {
                            $('#change-status-form').submit();
                        },
                        // When denying modal, restore default value for status dropdown
                        onDeny: function($element) {
                            $('.ui.dropdown.status').dropdown('restore defaults');
                        }
                    })
                    .modal("show");
            });
    });
</script>
{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">

    <h1 class="ui header">
        <div class="content">
            {{client}}
            <div class="sub header">Client since {{ client.member.created_at|date:"Y/m/d"}}</div>
        </div>
    </h1>
    <div class="right menu">
        <div class="ui item">
            <div class="ui teal large label">{{ client.get_delivery_type_display }}</div>
        </div>
      <div class="ui item">
          <div class="ui dropdown status">
              <div class="ui large yellow label text">{{ client.get_status_display }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  {% for k,s in client_status %}
                      <div class="item" data-value={{k}}>
                           {{s}}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
</div>

<div class="ui modal status"></div>

{% if client.alert %}
<div class="ui row"><div class="sixteen wide column">
    <div class="ui warning message">
        <div class="header">
            Important notice
        </div>
        <p>{{ client.alert }}</p>
    </div>
</div></div>

{% endif %}

<div class="ui stackable relaxed grid container">

    <div class="sixteen wide column">
        {% include 'client/client_info.html' %}
    </div>

    <div class="four wide column">
        {% include 'client/menu.html' %}
    </div>

    <div class="twelve wide column">
        {% block subcontent %}
        <!-- A block used by all children to include content here-->
        {% endblock %}
    </div>

</div>
{% endblock %}
