{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %}Client{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $('.ui.dropdown').dropdown({transition: 'drop'});

    $('.ui.dropdown.status').dropdown({
        transition: 'drop',
        onChange: function(value, text, $selectedItem) {
            $(this).addClass('loading');
            $.ajax({
                url: "/member/change_status/" + {{ client.id }} + '/',
                type: "POST",
                data: {
                    'status': value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response) {
                    $('.ui.dropdown.status').removeClass('loading');
                }
            })
        }
    });
</script>
{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">

    <h1 class="ui header">
        <div class="content">
        {{client}}
            <div class="sub header">Client since {{ client.member.created_at|date:"Y/m/d"}}</div>
        </div>
    </h1>
    <div class="right menu">
        <div class="ui item">
            <div class="ui teal large label">{{ client.get_delivery_type_display }}</div>
        </div>
      <div class="ui item">
          <div class="ui dropdown status">
              <div class="ui large yellow label text">{{ client.get_status_display }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  {% for k,s in client_status %}
                      <div class="item" data-value={{k}}>
                           {{s}}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
</div>

{% if client.alert %}
<div class="ui row"><div class="sixteen wide column">
<div class="ui warning message">
    <div class="header">
        Important notice
    </div>
    <p>{{ client.alert }}</p>
</div>
</div></div>

{% endif %}

<div class="ui stackable relaxed grid container">

    <div class="sixteen wide column">
        {% include 'client/client_info.html' %}
    </div>

    <div class="four wide column">
        {% include 'client/menu.html' %}
    </div>

    <div class="twelve wide column">
        {% block subcontent %}
        <!-- A block used by all children to include content here-->
        {% endblock %}
    </div>
    
</div>
{% endblock %}
