{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Client{% endblock %}

{% block content %}

<!--
    1 - We need an "Alert" window on the top of the page

    2 - We need the right

    3 - One item of the menu need to be 'active' depending of the context variable 'active_tab' :
    - info
    - referent
    - address
    - payment
    - allergies
    - preferences
-->

  {% block subcontent %}
    <!-- A block used by all children to include content here-->
  {% endblock %}
{% endblock %}