{% extends "base_member.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Clients{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Clients" %}</div>
{% endblock breadcrumb %}

{% block content %}

<h1>Search client</h1>

<div class="ui mobile reversed equal width grid">
  <div class="column">

    <form action="" method="get" class="ui form">

        <div class="inline fields">
            <div class="field">
                <label>Name</label>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="users icon"></i>
                        {{ filter.form.name }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Route</label>
                <div class="field">
                    {{ filter.form.route }}
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="field">
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="field">
                <label>Delivery</label>
                <div class="field">
                    {{ filter.form.delivery_type }}
                </div>
            </div>
        </div>
        <div class="field">
            <a href="{% url 'member:list' %}" class="ui button">Reset</a>
            <button class="ui yellow button" type="submit">Search</button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>

<div class="ui four doubling cards">
    {% for obj in clients %}
    <a class="ui card" href="{% url 'member:view' id=obj.id %}">
      <div class="content">
        <div class="header">{{ obj.member }}</div>
        <div class="meta">
            <span class="right floated time">
                <i class="help-text info icon link" data-content="Language: {{ obj.get_language_display }}"></i>
            </span>
            <span class="category">{{ obj.age }} years old</span>
        </div>
        <div class="description">
            <p>{{ obj.member.firstname }} is an <strong>{{ obj.get_delivery_type_display }}</strong>
                client on the <strong>{{ obj.route }}</strong> route.</p>
                <p>This client is currently <strong>{{ obj.get_status_display }}</strong>.</p>
            </div>
        </div>
        <div class="extra content">
            <i class="phone icon"></i>
            {{ obj.member.get_home_phone.value }}
            <div class="right floated author">
                <span class="category">
                    {% if obj.alert %}
                    <i class="help-text warning circle orange icon link" data-content="{{ obj.alert }}"></i>
                    {% endif %}
                </span>
            </div>
        </div>
    </a>
    {% empty %}
        <p>Sorry, no result found.</p>
    {% endfor %}
</div>

{% if is_paginated %}

<div class="ui pagination menu" style="margin: 2em auto; width=100%;";>
    {% if page_obj.has_previous %}
    <a class="icon item" href="{% url 'member:list' %}?page={{ page_obj.previous_page_number }}">
        <i class="left arrow icon"></i>
    </a>
    {% endif %}
    <a class="active item">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>
    {% if page_obj.has_next %}
    <a class="icon item" href="{% url 'member:list' %}?page={{ page_obj.next_page_number }}">
        <i class="right arrow icon"></i>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
