{% extends "base_member.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Clients{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Clients" %}</div>
{% endblock breadcrumb %}

{% block content %}

<h1>Search client</h1>

<div class="ui mobile reversed equal width grid">
  <div class="column">

    <form action="" method="get">
        <div class="ui large action left icon input">
            <i class="users icon"></i>
            {{ filter.form.name }}
            <button class="ui yellow button" type="submit">Search
            </button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>

<div class="ui four doubling cards">
    {% for obj in clients %}
    <a class="ui card" href="{% url 'member:view' id=obj.id %}">
      <div class="content">
        <div class="header">{{ obj.member }}</div>
        <div class="meta">
            <span class="right floated time">
                <i class="help-text info icon link" data-content="Language: {{ obj.get_language_display }}"></i>
            </span>
            <span class="category">{{ obj.age }} years old</span>
        </div>
        <div class="description">
            <p>{{ obj.member.firstname }} is an <strong>{{ obj.get_delivery_type_display }}</strong>
                client on the <strong>Mile-end</strong> route.</p>
                <p>This client is currently <strong>{{ obj.get_status_display }}</strong>.</p>
            </div>
        </div>
        <div class="extra content">
            <i class="phone icon"></i>
            {{ obj.member.get_home_phone.value }}
            <div class="right floated author">
                <span class="category">
                    {% if obj.alert %}
                    <i class="help-text warning circle orange icon link" data-content="{{ obj.alert }}"></i>
                    {% endif %}
                </span>
            </div>
        </div>
    </a>
    {% empty %}
        <p>Sorry, no result found.</p>
    {% endfor %}
</div>

{% endblock %}
