{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}} - Orders list

{% endblock %}

{% block subcontent %}

<div class="ui segment">

    <h2 class="ui header">
        <div class="content">
            {% trans 'Orders' %}
            <div class="sub header">List of all orders from {{client}}.</div>
        </div>
    </h2>
    <div class="ui divider"></div>

<table class="ui very basic stripped celled table">
  <thead>
    <th class="sorted descending">Order</th>
    <th class="">{% trans 'Delivery Date' %}</th>
    <th class="">{% trans 'Status' %}</th>
    <th class="">{% trans 'Amount' %}</th>
    <th class=""></th>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td><strong>{{order.id}}</strong></td>
        <td>{{order.delivery_date}}</td>
        <td>{{order.get_status_display}}</td>
        <td>${{order.price}}</td>
        <td><button class="ui button"  onclick="location.href='{% url 'order:view' pk=order.id %}';" value="View Order" >View</button></td>
      </tr>
        {% endfor %}
  </tbody>

</table>




{% endblock %}
