{% load member_extras %}

<div class="ui middle aligned divided list">
    {% for day, meal_schedule in client.meals_schedule.items %}
    <div class="item">
        <div class="right floated content">
          <div class="ui button">{% if meal_schedule == None %} Add {% else %} Change {% endif %}</div>
        </div>
        <i class="toggle {% if meal_schedule == None %} off {% else %} on grey {% endif %} big icon"></i>
        <div class="content">
          <a class="header">{{day|title}}</a>
          <div class="description">{{ meal_schedule|readable_prefs }}</div>
        </div>
    </div>
  {% endfor %}
</div>
