{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}} - Information

{% endblock %}

{% block subcontent %}

<div class="ui segment">
    <h2 class="ui header">
        <div class="content">
            {% trans 'Basic information' %}
            <div class="sub header">Contact information of the referent person.<a  href="{% url 'admin:member_client_change' client.id %}">
                <i class="write grey icon"></i>
            </a></div>
        </div>
    </h2>
    <div class="ui divider"></div>

<div class="ui list">
    <div class="item"><div class="header">{% trans 'First Name' %}</div>{{client.member.firstname}}</div>
    <div class="item"><div class="header">{% trans 'Last Name' %}</div>{{client.member.lastname}}</div>
    <div class="item"><div class="header">{% trans 'Gender' %}</div>{{client.get_gender_display}}</div>
    <div class="item"><div class="header">{% trans 'Language' %}</div>{{client.get_language_display}}</div>
    <div class="item"><div class="header">{% trans 'Delivery Type' %}</div>{{client.get_delivery_type_display}}</div>
    <div class="item"><div class="header">{% trans 'Birthday' %}</div>{{client.birthdate}}</div>
    {% for contact in client.member.member_contact.all %}
        <div class="item"><div class="header">{{contact.type}}</div>{{contact.value}}</div>
    {% endfor %}
    <div class="item"><div class="header"><i class="icon home"></i>Address</div>{{client.member.address.street}}, {{client.member.address.city}}, {{client.member.address.postal_code}}</div>
    <div class="item"><div class="header">Delivery Note</div>{{client.delivery_note}}</div>
</div>
</div>

<div class="ui segment">
{% if client.emergency_contact %}

<h2 class="ui header">
    <div class="content">
        {% trans 'Emergency Contact' %}
        <div class="sub header">Information of the person to contact in case of an emergency.<a  href="{% url 'admin:member_member_change' client.emergency_contact.id %}">
            <i class="write grey icon"></i>
        </a></div>
    </div>
</h2>
<div class="ui divider"></div>

<div class="ui list">
    <div class="item"><div class="header">{% trans 'First Name' %}</div>{{client.emergency_contact.firstname}}</div>
    <div class="item"><div class="header">{% trans 'Last Name' %}</div>{{client.emergency_contact.lastname}}</div>
    <div class="item"><div class="header">{% trans 'Relationship' %}</div>{{rclient.emergency_contact.relationship}}</div>
    {% for contact in client.emergency_contact.member_contact.all %}
    <div class="item"><div class="header">{{contact.type}}</div>{{contact.value}}</div>
    {% endfor %}
</div>
{% endif %}
</div>

{% endblock %}
