{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}} - {% trans "Information" %}

{% endblock %}

{% block subcontent %}

<div class="ui segment">
    <h2 class="ui header">
        <div class="content">
            {% trans 'Basic information' %}
            <div class="sub header">
                {% trans "Contact information of the client" %}.
            </div>
        </div>
    </h2>
    <a class="ui right floated small button" href="{% url 'member:member_update_basic_information' pk=client.id %}">
        <i class="icon edit"></i>{% trans "Edit" %}
    </a>

    <div class="ui divider"></div>

<div class="ui list">
    <div class="item"><div class="header">{% trans 'First Name' %}</div>{{client.member.firstname}}</div>
    <div class="item"><div class="header">{% trans 'Last Name' %}</div>{{client.member.lastname}}</div>
    <div class="item"><div class="header">{% trans 'Gender' %}</div>{{client.get_gender_display}}</div>
    <div class="item"><div class="header">{% trans 'Language' %}</div>{{client.get_language_display}}</div>
    <div class="item"><div class="header">{% trans 'Delivery Type' %}</div>{{client.get_delivery_type_display}}</div>
    <div class="item"><div class="header">{% trans 'Birthday' %}</div>{{client.birthdate}}</div>
    {% for contact in client.member.member_contact.all %}
        <div class="item"><div class="header">{{contact.type}}</div>{{contact.display_value}}</div>
    {% endfor %}
    <div class="item"><div class="header"><i class="icon home"></i>{% trans "Address" %}</div>{{client.member.address.street}}, {{client.member.address.city}}, {{client.member.address.postal_code}}</div>
    <div class="item"><div class="header">{% trans "Delivery Note" %}</div>{{client.delivery_note}}</div>
</div>
</div>


{% if client.emergency_contact %}
<div class="ui segment">
    <h2 class="ui header">
        <div class="content">
            {% trans 'Emergency Contact' %}
            <div class="sub header">{% trans "Information of the person to contact in case of an emergency" %}.</div>
        </div>
    </h2>
    <a class="ui right floated small button" href="{% url 'member:member_update_emergency_contact' pk=client.id %}">
        <i class="icon edit"></i>{% trans "Edit" %}
    </a>

    <div class="ui divider"></div>

    <div class="ui list">
        <div class="item"><div class="header">{% trans 'First Name' %}</div>{{client.emergency_contact.firstname}}</div>
        <div class="item"><div class="header">{% trans 'Last Name' %}</div>{{client.emergency_contact.lastname}}</div>
        <div class="item"><div class="header">{% trans 'Relationship' %}</div>{{client.emergency_contact_relationship}}</div>
        {% for contact in client.emergency_contact.member_contact.all %}
        {% if contact.value is not empty %}
            <div class="item"><div class="header">{{contact.type}}</div>{{contact.display_value}}</div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}
