{% extends "client/base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load admin_urls %}

{% block title %}

  {{client}} - {% trans "Orders list" %}

{% endblock %}

{% block subcontent %}

<div class="ui segment">

    <h2 class="ui header">
        <div class="content">
            {% trans 'Orders' %}
            <div class="sub header">{% trans "List of all orders from" %} {{client}}.</div>
        </div>
    </h2>
    <div class="ui divider"></div>

    <table class="ui very basic stripped celled table">
        <thead>
            <th class="sorted descending">{% trans "Order" %}</th>
            <th class="">{% trans 'Delivery Date' %}</th>
            <th class="">{% trans 'Status' %}</th>
            <th class="">{% trans 'Amount' %}</th>
            <th class="">{% trans 'Actions' %}</th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><strong>{{order.id}}</strong></td>
                    <td>{{order.delivery_date}}</td>
                    <td>{{order.get_status_display}}</td>
                    <td>${{order.price}}</td>
                    <td>
                        <a class="ui basic icon button"  href="{% url 'order:view' pk=order.id %}"><i class="icon unhide"></i></a>
                        <a class="ui basic icon button"  href="{% url 'order:update' pk=order.id %}"><i class="icon edit"></i></a>
                        <a class="ui basic icon button order-delete" href="#" data-order-id="{{order.id}}"><i class="icon trash"></i></a>
                    </td>
                </tr>
                {% include "order_confirm_delete.html" %}
            {% endfor %}
        </tbody>

    </table>
 </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.addEventListener( 'DOMContentLoaded', function () {
      $('table').tablesort();
  })

  $('.order-delete').click(function(){
      var order_id = $(this).attr('data-order-id');
      var selector = '.ui.basic.modal.order-' + order_id;
      $(selector).modal('show');
  });
</script>
{% endblock %}
