<div class="ui vertical menu">
  <div class="item">
    Information
    <div class="menu">
      <a class="{% if active_tab == 'information' %}active{% endif %} item" href="{% url 'member:client_information' pk=client.id %}"><i class="user icon"></i>Personal</a>
      {% if client.client_referent.all.count %}
      <a class="{% if active_tab == 'referent' %}active{% endif %} item" href="{% url 'member:client_referent' pk=client.id %}"><i class="treatment icon"></i>Referent</a>
      {% else %}<span class="item">No referent available</span>{% endif %}
      <a class="{% if active_tab == 'billing' %}active{% endif %} item" href="{% url 'member:client_payment' pk=client.id %}"><i class="payment icon"></i>Billing</a>
      <a class="{% if active_tab == 'status' %}active{% endif %} item" href="{% url 'member:client_status' pk=client.id %}"><i class="history icon"></i>Status</a>
    </div>
  </div>
  <a class="{% if active_tab == 'prefs' %}active{% endif %} item" href="{% url 'member:client_allergies' pk=client.id %}">
    <i class="food icon"></i>Preferences
  </a>
  <a class="{% if active_tab == 'notes' %}active{% endif %} item" href="{% url 'member:client_notes' pk=client.id %}">
    <div class="ui teal label">{{ client.notes.count }}</div>
    Notes
  </a>
  <a class="{% if active_tab == 'orders' %}active{% endif %} item" href="{% url 'member:list_orders' pk=client.id %}">
      <div class="ui teal label">{{ client.orders.count }}</div>
    Orders
  </a>

</div>
