{% load member_extras %}
{% load i18n %}

{% if client.delivery_type == 'O' %}
<div class="ui middle aligned divided list">
  {% with simple_meals_schedule=client.simple_meals_schedule %}
    {% for day, meal_default in client.meals_schedule %}
    <div class="item">
        <div class="content">
          <a class="header">{{day|title}}</a>
          <div class="description">
              {% if day in simple_meals_schedule %}
                {{ meal_default|readable_prefs }}
              {% else %}
                {% trans 'No delivery.' %}
              {% endif %}
          </div>
        </div>
    </div>
    {% endfor %}
  {% endwith %}
</div>
{% else %}
<div class="ui middle aligned divided list">
    {% for day, meal_default in client.meals_default %}
    <div class="item">
        <div class="content">
          <a class="header">{{day|title}}</a>
          <div class="description">
            {{ meal_default|readable_prefs }}
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endif %}
