<h4 class="ui dividing header">{{ _('Identity') }}</h4>
<div class="field">
    <label>{{ _('Name') }}</label>
    <div class="two fields">
        <div class="field {% if wizard.form.firstname.errors %} error {% endif %}">
            {{wizard.form.firstname}}
        </div>
        <div class="field {% if wizard.form.lastname.errors %} error {% endif %}">
            {{wizard.form.lastname}}
        </div>
    </div>
</div>


<div class="field">
    <label>{{ wizard.form.gender.label }}</label>
    {{ wizard.form.gender }}
</div>

<div class="field {% if wizard.form.birthdate.errors %} error {% endif %}">
    <label>{{ wizard.form.birthdate.label }}</label>
    <div class="ui calendar" id="wizard_form_birthdate">
        <div class="ui input left icon">
              <i class="calendar icon"></i>
              {{ wizard.form.birthdate }}
        </div>
    </div>
</div>

<h4 class="ui dividing header">{{ _('Contact information') }}</h4>

<div class="field">
    <label>{{ wizard.form.language.label }}</label>
    {{ wizard.form.language }}
</div>

<div class="inline fields">
    <div class="field">
        <label>{{ wizard.form.contact_type.label }}</label>
        <div class="field">
        {{ wizard.form.contact_type }}
    </div>
    </div>
    <div class="field">
        <label>{{ wizard.form.contact_value.label }}</label>
        <div class="field {% if wizard.form.contact_value.errors %} error {% endif %}">
            {{ wizard.form.contact_value }}
        </div>
    </div>
</div>
<h4 class="ui dividing header">{{ _('Alert') }}</h4>
<div class="field {% if wizard.form.alert.errors %} error {% endif %}">
    <div class="ui message attached">
        <p>This message will be hightlighted on the client record.</p>
    </div>
    {{ wizard.form.alert }}
</div>
