{% load i18n %}
<h4 class="ui dividing header">{{ _('Meal status') }}</h4>

<div class="field">
    <div class="ui ten wide toggle checkbox">
        {{ wizard.form.status }}
        <label>{{ wizard.form.status.label }}
            <i class="help-text question yellow icon link" data-content="{{ wizard.form.status.help_text }}"></i>
        </label>
    </div>
</div>

<h4 class="ui dividing header">{{ _('Delivery') }}</h4>

<div class="field">
  <label>{{ wizard.form.delivery_type.label }}</label>
    {{ wizard.form.delivery_type }}
</div>

<div class="field" id="form-delivery-schedule">
  <label>{{ wizard.form.delivery_schedule.label }}</label>
    {{ wizard.form.delivery_schedule }}
</div>

<h4 class="ui dividing header">{{ _('Meals default') }}</h4>

<div class="field">
  <label class="inline">{{ wizard.form.meal_default.label }}</label>
    {{ wizard.form.meal_default }}
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Monday' %}
  </div>
    <div class="content">
      <table class="ui compact table">
        <thead>
          <tr>
            <th>{% trans 'Size' %}</th>
            <th>{% trans 'Component' %}</th>
            <th>{% trans 'Quantity' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{wizard.form.size_monday}}</td>
            <td>{% trans 'Main Dish' %}</td>
            <td>{{wizard.form.main_dish_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Dessert' %}</td>
            <td>{{wizard.form.dessert_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Diabetic dessert' %}</td>
            <td>{{wizard.form.diabetic_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Fruit Salad' %}</td>
            <td>{{wizard.form.fruit_salad_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Green Salad' %}</td>
            <td>{{wizard.form.green_salad_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Pudding' %}</td>
            <td>{{wizard.form.pudding_monday_quantity}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{% trans 'Compote' %}</td>
            <td>{{wizard.form.compote_monday_quantity}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Tuesday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_tuesday}}</td>
          <td>{% trans 'Main Dish' %}</td>
          <td>{{wizard.form.main_dish_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_tuesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_tuesday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Wednesday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_wednesday}}</td>
          <td>{% trans 'Main Dish' %}</td>
          <td>{{wizard.form.main_dish_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_wednesday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_wednesday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Thursday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_thursday}}</td>
          <td>{% trans 'Main Dish' %}</td>
          <td>{{wizard.form.main_dish_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_thursday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_thursday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Friday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_friday}}</td>
          <td>{% trans 'Main Dish' %}</td>
          <td>{{wizard.form.main_dish_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_friday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_friday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Saturday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_saturday}}</td>
          <td>{% trans 'Main dish' %}</td>
          <td>{{wizard.form.main_dish_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_saturday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_saturday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {% trans 'Sunday' %}
  </div>
  <div class="content">
    <table class="ui compact table">
      <thead>
        <tr>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Component' %}</th>
          <th>{% trans 'Quantity' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{wizard.form.size_sunday}}</td>
          <td>{% trans 'Main dish' %}</td>
          <td>{{wizard.form.main_dish_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Dessert' %}</td>
          <td>{{wizard.form.dessert_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Diabetic dessert' %}</td>
          <td>{{wizard.form.diabetic_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Fruit Salad' %}</td>
          <td>{{wizard.form.fruit_salad_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Green Salad' %}</td>
          <td>{{wizard.form.green_salad_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Pudding' %}</td>
          <td>{{wizard.form.pudding_sunday_quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% trans 'Compote' %}</td>
          <td>{{wizard.form.compote_sunday_quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<h4 class="ui dividing header">{{ _('Food preferences') }}</h4>

<div class="field">
    <label>{{ wizard.form.restrictions.label }}</label>
    {{ wizard.form.restrictions }}
</div>

<div class="field">
    <label>{{ wizard.form.food_preparation.label }}</label>
    {{ wizard.form.food_preparation }}
</div>

<div class="field">
    <label>{{ wizard.form.ingredient_to_avoid.label }}</label>
      {{ wizard.form.ingredient_to_avoid }}
</div>

<div class="field">
    <label>{{ wizard.form.dish_to_avoid.label }}</label>
      {{ wizard.form.dish_to_avoid }}
</div>

<script language='javascript'>
             $(document).ready(function(){
                $('.ui.accordion').accordion();
             });
</script>
