{% load i18n %}
<h4 class="ui dividing header">{{ _('Meal status') }}</h4>

<div class="field">
    <div class="ui ten wide toggle checkbox">
        {{ wizard.form.status }}
        <label>{{ wizard.form.status.label }}
            <i class="help-text question yellow icon link" data-content="{{ wizard.form.status.help_text }}"></i>
        </label>
    </div>
</div>

<h4 class="ui dividing header">{{ _('Delivery') }}</h4>

<div class="field">
  <label>{{ wizard.form.delivery_type.label }}</label>
    {{ wizard.form.delivery_type }}
</div>

<div class="field" id="form-delivery-schedule">
  <label>{{ wizard.form.delivery_schedule.label }}</label>
    {{ wizard.form.delivery_schedule }}
</div>

<h4 class="ui dividing header">{{ _('Meals default') }}</h4>

<div class="field">
  <label class="inline">{{ wizard.form.meal_default.label }}</label>
    {{ wizard.form.meal_default }}
</div>

{% include 'forms/meal_defaults.html'%}

<h4 class="ui dividing header">{{ _('Food preferences') }}</h4>

<div class="field">
    <label>{{ wizard.form.restrictions.label }}</label>
    {{ wizard.form.restrictions }}
</div>

<div class="field">
    <label>{{ wizard.form.food_preparation.label }}</label>
    {{ wizard.form.food_preparation }}
</div>

<div class="field">
    <label>{{ wizard.form.ingredient_to_avoid.label }}</label>
      {{ wizard.form.ingredient_to_avoid }}
</div>

<div class="field">
    <label>{{ wizard.form.dish_to_avoid.label }}</label>
      {{ wizard.form.dish_to_avoid }}
</div>

<script language='javascript'>
             $(document).ready(function(){
                $('.ui.accordion').accordion();
             });
</script>
