<div class="ui attached message">
    <div class="header">
    Referral information
    </div>
    <p>Fill out the form below to create a new client</p>
</div>

<h4 class="ui dividing header">{{ _('Identity') }}</h4>

<div class="field">
    <label>{{ _('Name') }}</label>
    <div class="two fields">
      <div class="field {% if wizard.form.firstname.errors %} error {% endif %}">
          {{wizard.form.firstname}}
      </div>
      <div class="field {% if wizard.form.lastname.errors %} error {% endif %}">
          {{wizard.form.lastname}}
      </div>
    </div>
</div>

<div class="field {% if wizard.form.work_information.errors %} error {% endif %}">
    <label>{{ wizard.form.work_information.label }}</label>
    {{ wizard.form.work_information }}
</div>

<h4 class="ui dividing header">{{ _('Referral reason') }}</h4>

<div class="field {% if wizard.form.date.errors %} error {% endif %}">
    <label>{{ wizard.form.date.label }}</label>
    <div class="ui calendar" id="wizard_form_date">
        <div class="ui input left icon">
              <i class="calendar icon"></i>
              {{ wizard.form.date }}
        </div>
    </div>
</div>

<div class="field {% if wizard.form.referral_reason.errors %} error {% endif %}">
    <div class="ui message attached">
        <p>Please describe the referral reason(s)</p>
    </div>
    {{ wizard.form.referral_reason }}
</div>
