<div class="order">
    <div class="field {% if form.client.errors %} error {% endif %}">
        <label>{{ form.client.label }}</label>
        {{ form.client }}
    </div>

    <div class="field {% if form.creation_date.errors %} error {% endif %}">
        <label>{{ form.creation_date.label }}</label>
        <div class="ui calendar" id="form_creation_date">
            <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  {{ form.creation_date }}
            </div>
        </div>
    </div>

    <div class="field {% if form.delivery_date.errors %} error {% endif %}">
        <label>{{ form.delivery_date.label }}</label>
        <div class="ui calendar" id="form_delivery_date">
            <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  {{ form.delivery_date }}
            </div>
        </div>
    </div>

    <div class="field {% if form.status.errors %} error {% endif %}">
        <label>{{ form.status.label }}</label>
        {{ form.status }}
    </div>

    <div class="field {% if form.orders.errors %} error {% endif %}">
        <label>{{ form.orders.label }}</label>
        {{ form.orders }}
    </div>
</div>

<div class="ui styled fluid accordion order items">
    {% for formset in inlines %}
        {{ formset.management_form }}
        <div id="{{ formset.prefix }}">

            {% for subform in formset.forms %}
                <div class="title active">
                    <i class="dropdown icon"></i> Order item
                </div>
                <div class="content active">
                    <div class="field hidden">
                        <label> {{ subform.component.id }} </label>
                        {{ subform.id }}
                    </div>
                    <div class="field {% if subform.component.errors %} error {% endif %}">
                        <label> {{ subform.component.label }} </label>
                        {{ subform.component }}
                    </div>
                    <div class="field {% if subform.component_group.errors %} error {% endif %}">
                        <label> {{ subform.component_group.label }} </label>
                        {{ subform.component_group }}
                    </div>
                    <div class="field {% if subform.price.errors %} error {% endif %}">
                        <label> {{ subform.price.label }} </label>
                        {{ subform.price }}
                    </div>
                    <div class="field {% if subform.billable_flag.errors %} error {% endif %}">
                        <label> {{ subform.billable_flag.label }} </label>
                        {{ subform.billable_flag }}
                    </div>
                    <div class="field {% if subform.size.errors %} error {% endif %}">
                        <label> {{ subform.size.label }} </label>
                        {{ subform.size }}
                    </div>
                    <div class="field {% if subform.order_item_type.errors %} error {% endif %}">
                        <label> {{ subform.order_item_type.label }} </label>
                        {{ subform.order_item_type }}
                    </div>
                    <div class="field {% if subform.remark.errors %} error {% endif %}">
                        <label> {{ subform.remark.label }} </label>
                        {{ subform.remark }}
                    </div>
                    <div class="field {% if subform.total_quantity.errors %} error {% endif %}">
                        <label> {{ subform.total_quantity.label }} </label>
                        {{ subform.total_quantity }}
                    </div>
                    <div class="field {% if subform.free_quantity.errors %} error {% endif %}">
                        <label> {{ subform.free_quantity.label }} </label>
                        {{ subform.free_quantity }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>