{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %} {% trans 'Orders' %} {% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Orders" %}</div>
{% endblock breadcrumb %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Orders</h2>
</div>


<div class="ui mobile reversed equal width grid">
  <div class="column">

    <form action="" method="get" class="ui form">

        <div class="inline fields">
            <div class="field">
                <label>Name</label>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="users icon"></i>
                        {{ filter.form.name }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="field">
                    {{ filter.form.status }}
                </div>
            </div>
        </div>
        <div class="field">
            <a href="{% url 'order:list' %}" class="ui button">Reset</a>
            <button class="ui yellow button" type="submit">Search</button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>


<table class="ui very basic stripped celled table">
  <thead>
    <th class="sorted descending">Order</th>
    <th class="">{% trans 'Client' %}</th>
    <th class="">{% trans 'Delivery Date' %}</th>
    <th class="">{% trans 'Status' %}</th>
    <th class="">{% trans 'Amount' %}</th>
    <th class=""></th>
  </thead>
  <tbody>
    {% for obj in order %}
      <tr>
        <td><strong>{{obj.id}}</strong></td>
        <td><a href="{% url 'member:view' pk=obj.client.id %}">{{obj.client.member}}</a></td>
        <td>{{obj.delivery_date}}</td>
        <td>{{obj.get_status_display}}</td>
        <td>${{obj.price}}</td>
        <td><button class="ui button"  onclick="location.href='{% url 'order:view' id=obj.id %}';" value="View Order" >View Order</button></td>
      </tr>
        {% endfor %}
  </tbody>
  <tfoot>
      <tr>
          <th></th>
          <th colspan="5">
              {% include "system/_button_export.html" %}
          </th>
        </tr>
  </tfoot>
</table>
<script type="text/javascript">
    document.addEventListener( 'DOMContentLoaded', function () {
      $('table').tablesort();
    })
</script>

{% endblock %}
