{% extends "base_order.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %} {% trans 'View Order' %} {% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<H2>Order made on {{order.creation_date}}, delivered on {{order.delivery_date}} to {{order.client}}</H2>

<div>
  {% trans "order status" %}: {{order.get_status_display}}
</div>

<div>
  {% trans "order creation date" %}: {{order.creation_date}}
</div>

<div>
  {% trans "order delivery_date" %}: {{order.delivery_date}}
</div>

<div>
  {% trans "order total price" %}: {{order.price}}
</div>

<H3>Item inside order</H3>

{% for item in order.orders.all %}

<div class="ui segment">

  <div>
    name: {{item.component.name}}
  </div>
  <div>
    Description: {{item.component.description}}
  </div>
  <div>
    price: {{item.price}}
  </div>
  <div>
    billable: {{item.billable_flag}}
  </div>
  <div>
    size: {{item.size}}
  </div>

</div>
{% endfor %}
{% endblock %}
