{% load staticfiles %}

<div class="ui four statistics">
  <div class="statistic">
    <div class="value">
      1304
    </div>
    <div class="label">
      Active clients
    </div>
  </div>
  <div class="statistic">
    <div class="text value">
      One<br>
      Hundred
    </div>
    <div class="label">
      Meals a day
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="map icon"></i> 7
    </div>
    <div class="label">
      Routes
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="spy icon"></i>
      142
    </div>
    <div class="label">
      Volunteers
    </div>
  </div>
</div>
