<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Feast On Wheels{% endblock %}
    </title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="ui borderless main menu">
        <div class="ui text container">
            <div href="#" class="header item">
                <img class="logo" src="{% static 'assets/logo.png' %}" title="Logo Feast"/>Feast On Wheels
            </div>
            <a href="#" class="item">Login</a>
            <a href="#" class="item">Page 2</a>
        </div>
    </div>

    <div class="ui text container">

        {%block content%}{%endblock%}

    </div>

    <script src="{% static 'jquery/jquery-2.2.2.min.js' %}" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js" type="application/javascript"></script>

    <!-- WARNING :  Do not move this line before a manual import of script! -->
    {% block extrajs %}{% endblock %}
</body>

</html>
