<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Santropol feast{% endblock %}
    </title>

    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>

<body>
    <!------------------
    Top menu of the page
    ------------------->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Santropol Feast</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Menu personnel
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mon profil</a></li>
                            <li><a href="#">Modifier mon mot de passe</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-sm-3">
            <p class="alert alert-info">Le menu devrais s'insérer ici.</p>
        </div>
        <div class="col-sm-9">
            <!----------------------------------
            Display message of context processor
            ----------------------------------->
            <div class="col-sm-offset-1 col-sm-10">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible" style="margin-top: 10px;">
                        {% elif message.tags == 'success'%}
                            <div class="alert alert-success alert-dismissible" style="margin-top: 10px;">
                        {% elif message.tags == 'info'%}
                            <div class="alert alert-info alert-dismissible" style="margin-top: 10px;">
                        {% elif message.tags == 'warning'%}
                            <div class="alert alert-warning alert-dismissible" style="margin-top: 10px;">
                        {% else %}
                            <div class="alert alert-info alert-dismissible" style="margin-top: 10px;">
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-----------------
            Content of the page
            ------------------>
            {%block content%}{%endblock%}
        </div>
    </div>

    <script src="{% static 'jquery/jquery-2.2.2.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}" type="application/javascript"></script>

    <!-- WARNING :  Do not move this line before a manual import of script! -->
    {% block extrajs %}{% endblock %}
</body>

</html>