{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}
{% load member_extras %}

{% block title %} {% trans 'Place multiple orders for a client' %} {% endblock %}

{% block extrahead %}
<link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
{% comment %} Wash out jquery UI css on other semantic UI elements by importing it again. {% endcomment %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{% trans 'Place multiple orders' %}</h2>
</div>

<div class="sixteen wide column">

    <form action="" method="post" class="ui form {% if form.errors %}error{% endif %}" novalidate id="form_create_batch">
        {% csrf_token %}
        <div class="thirteen wide field {% if form.client.errors %}error{% endif %}" id="id_client">
            <label for="{{ form.client.id_for_label }}">{% trans 'Client' %}</label>
            {{ form.client }}
            {{ form.client.errors }}
        </div>

        <div class="thirteen wide field">
            <label for="{{ form.delivery_dates.id_for_label }}">{% trans 'Delivery dates' %}</label>
            <div id="delivery_dates"></div>{{ form.delivery_dates }}
        </div>

        {% if delivery_dates %}
        <div class="thirteen wide field ui styled meals">
            <label>{% trans 'Order items' %}</label>

            <div class="content" id="order_create_batch_items">
              {% for date, default_json in delivery_dates %}
              <div class="ui styled fluid accordion meals" id="date-{{ date }}" data-client-meals-default="{{ default_json }}">
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{ date }}
                </div>
                <div class="content {% if date not in accordions_inactive %}active{% endif %}">
                  <table class="ui compact table">
                    <thead>
                      <tr>
                        <th>{% trans 'Size' %}</th>
                        <th>{% trans 'Component' %}</th>
                        <th>{% trans 'Quantity' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for meal, Meal in meals %}
                      <tr>
                        <td>
                          {% if meal == "main_dish" %}
                            {% with "size_"|add:date as field_name %}
                              {% with form|get_item:field_name as field %}
                              <div class="field {% if field.errors %}error{% endif %}">
                              {{ field }}
                              </div>
                              {% endwith %}
                            {% endwith %}
                          {% endif %}
                        </td>
                        <td>{{ Meal }}</td>
                        <td>
                            {% with meal|add:"_"|add:date|add:"_quantity" as field_name %}
                              {% with form|get_item:field_name as field %}
                              <div class="field {% if field.errors %}error{% endif %}">
                              {{ field }}
                              </div>
                              {% endwith %}
                            {% endwith %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="wide field">
            <button class="ui button primary" type="submit">{% trans 'Place orders' %}</button>
        </div>
        {% else %}
        <div class="ui message">
          {% trans 'Please select one or multiple delivery dates.' %}
        </div>
        <div class="wide field">
            <button class="ui button primary" disabled="disabled" type="submit">{% trans 'Place orders' %}</button>
        </div>
        {% endif %}

        <input type="hidden" name="is_submit" value="1" id="id_is_submit">
        <input type="hidden" name="accordions_inactive" value="" id="id_accordions_active">
    </form>
</div>

{% endblock %}

{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" type="application/javascript"></script>
    {% if debug %}
        <script src="{% static 'js/multidatespicker.js' %}" type="application/javascript"></script>
    {% else %}
        <script src="{% static 'js/multidatespicker.min.js' %}" type="application/javascript"></script>
    {% endif %}

{% comment %} Wash out jquery UI js on other semantic UI elements by importing it again. {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js" type="application/javascript"></script>
{% endblock %}
