{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block title %}{% trans "Avatar" %}{% endblock %}

{% block content %}
<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Avatars" %}</h1>
</div>

<div class="ui padded basic segment">
  <div class="ui grid">
    <div class="two column row">
        {% if not avatars %}
          <div class="column">
              <p><label>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</label></p>
          </div>
        {% else %}
          <div class="column">
              <div class="list-avatars">
                <form method="POST" action="{% url 'avatar_change' %}">
                    <ul>
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    <p>{% csrf_token %}
                      <button type="submit" class="ui green button">
                        <i class="save icon"></i>
                        {% trans "Save selected avatar" %}
                      </button>
                      </p>
                </form>
              </div>
          </div>
        {% endif %}
        <div class="column">
          <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
              {{ upload_avatar_form.as_p }}
              <p>{% csrf_token %}
                <button type="submit" class="ui yellow button">
                  <i class="add icon"></i>
                  {% trans "Upload New Image" %}
                </button>
              </p>
              {% if avatars %}
                <p>
                  <a href="{% url 'avatar_delete' %}" class="ui red button"><i class="remove icon"></i>{% trans "Delete your avatars" %}</a>
                </p>
              {% endif %}
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
