{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block title %}{% trans "Avatar" %}{% endblock %}

{% block content %}
<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Avatars" %}</h1>
</div>

<div class="ui padded basic segment">
  <div class="ui grid">
    <div class="two column row">
        <div class="column">
          <p>{% trans "Your current avatar:" %}</p>
          {% avatar user 80 class="ui tiny left floated circular image" id="user_avatar" %}
        </div>
    </div>
    <div class="two column row">
        {% if not avatars %}
          <div class="column">
              <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
          </div>
        {% else %}
          <div class="column">
              <div class="list-avatars">
                <form method="POST" action="{% url 'avatar_change' %}">
                    <ul>
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Save selected avatar" %}" class="ui green button"/></p>
                </form>
              </div>
          </div>
        {% endif %}
        <div class="column">
          <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
              {{ upload_avatar_form.as_p }}
              <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" class="ui yellow button"/></p>
          </form>
        </div>
      </div>
      <div class="two column row">
        {% if avatars %}
          <div class="column">
            <a href="{% url 'avatar_delete' %}">{% trans "Delete your avatars" %}</a>
          </div>
        {% endif %}
      </div>
  </div>
</div>
{% endblock %}
