<div class="ui import-export blue buttons">
    <div class="ui button">Export</div>
    <div class="ui floating dropdown icon button" tabindex="0">
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Export</span>
                <div class="menu transition hidden">
                    <div class="header">Format</div>
                    <div class="item">CSV</div>
                    <div class="item">Export</div>
                    <div class="item">PDF</div>
                </div>
            </div>
        </div>
    </div>
</div>
