{% load staticfiles i18n %}

<div class="item">
    <img class="ui large image item" src="{% static 'assets/logo-souschef-coul.png' %}" title="Logo Sous-Chef"/>
</div>
<div class="item">
    <a class="item" href="{%url 'member:list'%}">Clients
        <div class="ui label">{{ CLIENTS_TOTAL }}</div>
    </a>

    <div class="item">
        <div class="ui icon transparent inverted input">
            <input type="text" placeholder="Search client...">
            <i class="search icon"></i>
        </div>
    </div>
    <a class="item" href="{% url 'order:list' %}">Orders
        <div class="ui label">{{ ORDERS_TOTAL }}</div>
    </a>
    <a class="item" href="/admin/meal/ingredient/">Ingredients
        <div class="ui label">{{ INGREDIENTS_TOTAL }}</div>
    </a>
</div>

<div class="item">
        <a class="item" href="/"><i class="dashboard icon"></i>Dashboard</a>
    <a class="item" href="{% url 'member:member_step' %}"><i class="add user icon"></i>Add a new client</a>
    <a class="item" href="/admin"><i class="settings icon"></i>Settings</a>
    <a href="{% url 'page:logout' %}" class="item"><i class="sign out icon"></i>Logout</a>
</div>
