<div class="ui import-export blue buttons">
    <div class="ui button">Export</div>
    <div class="ui floating dropdown icon button" tabindex="0">
        <i class="dropdown icon"></i>
                <div class="menu transition hidden">
                    <div class="header">Format</div>
                    <div class="item"><a href="{{request.get_full_path}}&format=csv">CSV</a></div>
                    <div class="item"><a href="{{request.get_full_path}}&format=pdf">PDF</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
