{% load staticfiles i18n %}
{% load admin_urls %}

<div class="item">
    <a href={% url 'home' %}>
        <img class="ui large image item" src="{% static 'assets/logo-souschef-coul.png' %}" title="Logo Sous-Chef"/>
    </a>
</div>
{% if request.user %}
<div class="item loggedin-user">
    <img class="ui tiny left floated circular image" src="{% static 'assets/joe.jpg' %}">
    <h4 class="ui header name">
        {{ request.user.first_name }} <span class="sub-name">({{ request.user.username }})</span>
    </h4>
    <p class="ui roles">{% for group in request.user.groups.all %}
        <span class="ui label role">{{ group }}</span>
    {% endfor %}</p>
</div>
{% endif %}
<div class="item">
    <a class="item" href="{% url 'member:list'%}">{% trans 'Clients' %}
        <div class="ui label">{{ CLIENTS_TOTAL }}</div>
    </a>

    <div class="item">
        <form action="{% url 'member:list' %}" method="get">
            <div class="ui icon transparent inverted input">
                <input type="text" name="name" placeholder="Search client...">
                <i class="search icon"></i>
            </div>
        </form>
    </div>
    <a class="item" href="{% url 'order:list' %}">{% trans 'Orders' %}
        <div class="ui label">{{ ORDERS_TOTAL }}</div>
    </a>
    <a class="item" href="{% url 'note:note_list' %}">{% trans 'Staff Notes' %}
        <div class="ui label">{{ NOTES_TOTAL }}</div>
    </a>

</div>

<div class="item">
    <a class="item" href="{% url 'delivery:order' %}"><i class="food icon"></i>{% trans 'Kitchen Count' %}</a>
    <a class="item" href="{% url 'billing:list' %}"><i class="dollar icon"></i>{% trans 'Billing' %}</a>
    <a class="item" href="{% url 'order:create' %}"><i class="add to cart icon"></i>{% trans 'Add a new order' %}</a>
    <a class="item" href="{% url 'admin:index' %}"><i class="settings icon"></i>{% trans 'Admin' %}</a>
    <a href="{% url 'page:logout' %}" class="item"><i class="sign out icon"></i>{% trans 'Logout' %}</a>
</div>
