{% extends "base_billing.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Billing' %}{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
  <script type="text/javascript">
  $('.billing-delete').click(function(){
      var billing_id = $(this).attr('data-billing-id');
      var selector = '.ui.basic.modal.billing-' + billing_id;
      $(selector).modal('show');
  });
    $(function() {
      $('#billing_delivery_date').calendar({
        type: 'month',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            return year + '-' + month ;
          }
        }
      });
  });

    $('.add.icon')
        .popup();
</script>

{% endblock %}
{% block content %}


<div class="ui secondary pointing fluid menu">
  <h1 class="ui header">{% trans 'Billing' %}</h1>

  <div class="right menu">
    <a class="ui item"
       href="{% url 'billing:add' %}">
        <i class="add icon" data-content="Add a new billing cycle"></i>
    </a>
  </div>
</div>

<div class="ui mobile reversed equal width grid">
  <div class="column">

    <form action="" method="get" class="ui form">

        <div class="inline fields">
            <div class="field">
                <label>{% trans "Billing Period" %}</label>
                <div class="field">
                    <div class="ui calendar" id="billing_delivery_date">
                        <div class="ui input left icon">
                              <i class="time icon"></i>
                              {{ filter.form.date }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <a href="{% url 'billing:list' %}" class="ui button">{% trans "Reset" %}</a>
            <button class="ui yellow button" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>

{% if billings %}
<table class="ui very basic stripped celled table">
  <thead>
    <th class="sorted descending">{% trans "Billing Period" %}</th>
    <th class="">{% trans 'Amount' %}</th>
    <th class="">{% trans 'Orders count' %}</th>
    <th class="">{% trans 'Actions' %}</th>
  </thead>
  <tbody>
    {% for billing in billings %}
      <tr>
        <td><strong>{{billing.billing_period|date:"F Y"}}</strong></td>
        <td><i class="dollar icon"></i>{{billing.total_amount}}</td>
        <td>{{billing.orders.all.count}}</td>
        <td>
          <a class="ui basic icon button"  href="{% url 'billing:view' pk=billing.id %}"><i class="icon unhide"></i></a>
          <a class="ui basic icon button"  href=""><i class="icon edit"></i></a>
          <a class="ui basic icon button billing-delete" href="#" data-billing-id="{{billing.id}}"><i class="icon trash"></i></a>
        </td>
      </tr>
      {% include "billing/billing_confirm_delete.html" %}
    {% endfor %}
  </tbody>
</table>

{% else %}
    <div class="ui row"><p>{% trans "Sorry, no result found" %}.</p></div>
{% endif %}

{% endblock %}
