{% extends "base_billing.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Billing' %}{% endblock %}
{% block content %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Billing Details" %}</h1>
    <div class="right menu">
      <div class="ui item"><h3><i class="calendar icon"></i>{{billing.billing_period|date:"F Y"}}</h3></div>
    </div>
</div>

<div class="ui basic segment no-print">
    <div class="ui row">
        {% include 'billing/partials/statistics.html' with orders=billing.orders.all %}
    </div>
    <a href="javascript:window.print()" class="ui labeled icon right big button"><i class="print icon"></i>{% trans 'Print' %}</a>
</div>

<table class="ui very basic stripped celled table">
  <thead>
    <th class="">{% trans 'Order' %}
            <i class="help-text question grey icon link" data-content="{% trans 'A unique identifier for the order.' %}"></i>
    </th>
    <th class="">{% trans 'Client' %}
        <i class="help-text question grey icon link" data-content="{% trans 'Quickly access the client file.' %}"></i>
    </th>
    <th class="">{% trans 'Delivery Date' %}
        <i class="help-text question grey icon link" data-content="{% trans 'The delivery date planned for the order.' %}"></i>
    </th>
    <th class="center aligned">{% trans 'Status' %}
        <i class="help-text question grey icon link" data-content="{% trans 'Display only included orders.' %}"></i>
    </th>
    <th class="center aligned">{% trans 'Amount' %}
        <i class="help-text question grey icon link" data-content="{% trans 'Total amount in $CAD.' %}"></i>
    </th>
    <th class="">{% trans 'Actions' %}</th>
  </thead>
  <tbody>
    {% for order in billing.orders.all %}
    <tr>
      <td><i class="hashtag icon"></i>{{order.id}}</td>
      <td><a href="{% url 'member:view' pk=order.client.id %}">{{order.client}}
      <td>{{order.delivery_date}}</td>
      <td class="center aligned">{{order.get_status_display}}</td>
      <td class="center aligned"><i class="dollar icon"></i>{{order.price}}</td>
      <td>
        <a class="ui basic icon button"  href="{% url 'order:view' pk=order.id %}"><i class="icon unhide"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
      <tr>
          <th colspan="3">{% trans "Total" %}</th>
          <th class="right aligned"><i class="dollar icon"></i>{{ billing.total_amount }}</th>
      </tr>
  </tfoot>
</table>
{% endblock %}
