<!DOCTYPE html>
{% load staticfiles i18n %}

<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% trans "Sous-Chef" %}{% endblock %}
    </title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <link href="{% static 'css/main.min.css' %}" type="text/css" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>

<body>
    <!-- Responsive sidebar menu -->
    <div class="ui inverted vertical menu left sidebar">
        {% include "system/menu.html" %}
    </div>
    <!-- Main content grid -->
    <div class="pusher">
        <div class="ui grid container">
            <!-- Non responsive menu -->
            <div class="ui left fixed vertical inverted menu">
                {% include "system/menu.html" %}
            </div>
            <div class="ui main grid">
                <!-- Responsive top menu -->
                <div class="ui fixed inverted main menu">
                    <div class="ui container">
                        <a class="launch icon item sidebar-toggle ui open-menu">
                            <i class="sidebar icon"></i>
                        </a>
                    </div>
                </div>

                {% for message in messages %}
                <div class="ui {{ message.tags }} message sixteen wide column">
                    <i class="close icon"></i>
                    <div class="center aligned header">{{ message }}</div>
                </div>
                {% endfor %}
                {%block message%}{%endblock%}

                {%block content%}{%endblock%}

                <br><br>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment" style="margin-top: 4em;">
        <br>
        <div class="ui center aligned container">
            <img src="{% static 'images/logo-souschef-coul.png' %}" class="ui centered small image">
            <div class="ui horizontal inverted small divided link list">
                <p><i class="code yellow icon"></i> {% trans "with" %} &nbsp;<i class="heart yellow icon"></i> {% trans "in Montreal" %}</p>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js" type="application/javascript"></script>
    {% if debug %}
        <script src="{% static 'js/sous-chef.js' %}" type="application/javascript"></script>
    {% else %}
        <script src="{% static 'js/sous-chef.min.js' %}" type="application/javascript"></script>
    {% endif %}
    <!-- WARNING :  Do not move this line before a manual import of script! -->
    {% block extrajs %}{% endblock %}
</body>

</html>
