{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% load staticfiles %}

{% block title %}Homepage{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right chevron icon divider"></i>
<a href="#" class="section">{% trans "Dashboard" %}</a>
<i class="right arrow icon divider"></i>
<div class="active section">Overview</div>
{% endblock breadcrumb %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{% now "a F j Y" %}</h2>
</div>

<div class="ui three column row">

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Clients</h3>
            </div>
            <div class="ui secondary olive green inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                      {{ active_clients }}
                    </div>
                    <div class="label">
                        Active clients
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <p><i class="warning icon"></i><strong>{{ pending_clients }}</strong> clients are <a href="{% url "member:list" %}?status=D">pending</a>.</p>
            </div>
        </div>
    </div>

            <div class="dashboard-stat column">
              <div class="ui segments">
                <div class="ui segment">
                  <h3 class="ui blue header">Orders</h3>
                </div>
                <div class="ui teal inverted dashboard center aligned segment">
                  <div class="ui dashboard statistic">
                    <div class="value">
                      {{ ORDERS_TOTAL}}
                    </div>
                    <div class="label">
                      Orders
                    </div>
                  </div>

                  <div class="ui center animated list">
                    <a class="item">
                      <i class="add circle icon"></i>
                      <div class="content">
                        <div class="description">95% delivered</div>
                      </div>
                    </a>
                    <a class="item">
                      <i class="minus circle icon"></i>
                      <div class="content">
                        <div class="description">5% not charged</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="ui segment">
                  <p>Footer</p>
                </div>
              </div>
            </div>
            <div class="dashboard-stat column">
              <div class="ui segments">
                <div class="ui segment">
                  <h3 class="ui blue header">Any Header</h3>
                </div>
                <div class="ui secondary blue inverted dashboard center aligned segment">
                  <div class="ui dashboard statistic">
                    <div class="value">
                      5,550
                    </div>
                    <div class="label">
                      Downloads
                    </div>
                  </div>
                </div>
                <div class="ui segment">
                  <p>Footer</p>
                </div>
              </div>
            </div>
          </div>

<div class="row">
    <div class="top-table column">
        <div class="ui segments">
          <div class="ui segment">
            <h3 class="ui blue header">Happy Birthday</h3>
            </div>
            <div class="ui segment">
                <table class="ui very basic table">
                    <tbody>
                        {% for client in birthday %}
                        <tr>
                            <td><a href="{% url 'member:view' id=client.id %}">{{ client }}</a></td>
                            <td>{{ client.age }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
                </table>
          </div>
      </div>
</div>



{% endblock %}
