{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% load staticfiles %}

{% block title %}Homepage{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right chevron icon divider"></i>
<a href="#" class="section">{% trans "Dashboard" %}</a>
<i class="right arrow icon divider"></i>
<div class="active section">Overview</div>
{% endblock breadcrumb %}

{% block content %}

{% include "dashboard/statistics.html" %}

<a class="huge ui button" href="{% url 'member:member_step' %}">Add new client</a>

<div class="two column stackable ui grid padded">
    <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Heartbeat</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Activity</h4>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Pier Line</a> added <a>Jenny Hess</a> to the project
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Katrina Astrid Heyde</a> was added as an <a>Administrator</a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Helen Troy</a> added two clients
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="extra content">
                     <button class="ui button">See all</button>
                 </div>
        </div>
    </div>
    <div class="column">
        {% include "pages/card.html" %}
    </div>
</div>
<div class="two column stackable ui grid padded">
    <div class="column">
        {% include "notes/latest.html" %}
    </div>
</div>
{% endblock %}
