{% extends "base_member.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Staff notes{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Staff notes" %}</div>
{% endblock breadcrumb %}

{% block content %}

<h1>{{ _('Staff Notes') }}</h1>

<div class="ui feed">
    {% for note in notes %}
    <div class="event">
        <div class="label">
            <i class="{% if note.priority == 'urgent' %} announcement red {% else %} green info {% endif %} icon"></i>
        </div>
        <div class="content">
            <div class="date">
                {{ note.member }}
            </div>
            <div class="summary">
                {{ note.note }}
                <div class="date">
                    {{ note.date }}
                </div>
            </div>
            <div class="meta">
                <a class="like" href="{% url 'member:read' note.id %}">
                    {% if note.is_read %}
                        <i class="large unhide icon"></i> {{ _('Unmark as read') }}
                    {% else %}
                        <i class="large hide icon"></i> {{ _('Mark as read') }}
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
