{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head %}
{{ wizard.form.media}}
{% endblock %}

{% block extrahead %}
    <style> #mapid {height: 250px;}</style>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block title %}
    {% if edit == True %}{% trans 'Edit existing client' %}{% else %}{% trans 'Create a new client ' %}{% endif %}
{% endblock %}

{% block message %}
<div class="ui text container">
    <div class="ui warning small message">
        <div class="header">Notice</div>
        {% if not edit %}
        <p>{% trans 'No information will be saved until all the steps are completed.' %}</p>
        {% else %}
        <p>{% trans 'Save as soon as you\'re ready.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">
        {% if edit == True %}{% trans 'Edit Client' %}{% else %}{% trans 'New Client' %}{% endif %}
    </h1>
</div>

<div class="six wide column">
    <div class="ui vertical steps">
        {% include 'client/create/steps.html' with step=1 url='basic_information' icon='male' name=_('Personal') description=_('First name, last name, ...') %}
        {% include 'client/create/steps.html' with step=2 url='address_information' icon='home' name=_('Address') description=_('Street number, city, ...') %}
        {% include 'client/create/steps.html' with step=3 url='referent_information' icon='treatment' name=_('Referent') description=_('Referent contact information') %}
        {% include 'client/create/steps.html' with step=4 url='payment_information' icon='payment' name=_('Payment') description=_('Payment method, card, ...') %}
        {% include 'client/create/steps.html' with step=5 url='dietary_restriction' icon='food' name=_('Preferences') description=_('Deliveries, restrictions, ...') %}
        {% include 'client/create/steps.html' with step=6 url='emergency_contact' icon='first aid' name=_('Emergency') description=_('Emergency contact information') %}
    </div>
 </div>

<div class="ten wide column form-steps">
    <form action="" method="post" class="ui form error">{% csrf_token %}
        {% if wizard.form.errors %}
        <div class="ui error message">
            <div class="header">{% trans 'Required information missing' %}</div>
            <p>{% trans 'Please review the form to make sure that all required fields are filled.' %}</p>
            {{ wizard.form.errors }}
        </div>
        {% endif %}

        {{wizard.management_form}}

        {% include 'client/partials/forms/'|add:wizard.steps.current|add:'.html' %}

        {% if wizard.steps.prev and not edit %}
        <button class="ui left floated button" name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">
            {% trans 'Back' %}
        </button>
        {% endif %}

        {% if wizard.steps.step1 == 6 %}
            <input class="big ui right floated yellow button" type="submit" value="{% trans 'Save' %}"/>
        {% else %}
            <button  class="big ui yellow right floated button" name="wizard_goto_step" type="submit">{% trans 'Next' %}</button>
        {% endif %}

    </form>
</div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
  <script src="{% static 'leaflet-geocoder/Control.Geocoder.js' %}" type="application/javascript"></script>
  <script type="text/javascript">
    $(function() {

      $('.ui.dropdown').dropdown({transition: 'drop'});

      $('#id_dietary_restriction-delivery_type').dropdown({
        onChange: function(value, text, $selectedItem) {
          if($selectedItem.data('value') == 'E')
          {
            $('#form-delivery-schedule').hide();
          }
          else {
            $('#form-delivery-schedule').show();
          }
        }
      });

      var same_as_client = document.getElementById('id_payment_information-same_as_client')
      // Initial state
      if (same_as_client && same_as_client.checked) {
          $('#billing_select_member').hide();
      }
      $("#id_payment_information-same_as_client").on("change", function() {
          if (this.checked) {
              $('#billing_select_member').hide();
          } else {
              $('#billing_select_member').show();
          }
      });

      $('#wizard_form_birthdate').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });

      $('#wizard_form_date').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });

      $('.ui.button.add.member').on('click', function() {
        $('.existing--member').val('').attr('disabled', 'disabled');
        $(this).transition('scale');
        $('.ui.add.form.member').transition('scale');
      });

      $('.ui.button.cancel.add.member').on('click', function() {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').removeAttr('disabled');
      });

      if( $('.firstname').val() !== '' || $('.lastname').val() !== ''
          &&
          $('.existing--member').val() === '' ) {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').attr('disabled', 'disabled');
        $('.ui.add.form.member').transition('scale');
      }

      $('.ui.search').search({
        apiSettings: {
          cache : 'local',
          url: '{% url 'member:search' %}?name={query}'
        },
        minCharacters : 3
      });

      function showOneAccordionElement(element, index, array) {
        selector = '.ui.accordion.meals.' + element;
        $(selector).show();
      }
      function showUiAccordionSelectedDays() {
        var $selected = $('#id_dietary_restriction-delivery_schedule').val();
        if ($selected) {
          $selected.forEach(showOneAccordionElement);
        }
      }
      function hideUiAccordionDays() {
        $('.ui.accordion.meals').each(function () {
          $(this).hide();
        });
      }
      $('#id_dietary_restriction-delivery_schedule').change(function () {
        hideUiAccordionDays();
        showUiAccordionSelectedDays();
      });
      hideUiAccordionDays();
      showUiAccordionSelectedDays();

        //:::  This routine calculates the distance between two points (given the     :::
        //:::  latitude/longitude of those points).                                   :::
        //:::  Passed to function:                                                    :::
        //:::    lat1, lon1 = Latitude and Longitude of point 1 (in decimal degrees)  :::
        //:::    lat2, lon2 = Latitude and Longitude of point 2 (in decimal degrees)  :::
        //:::    unit = the unit you desire for results                               :::
        //:::           where: 'M' is statute miles (default)                         :::
        //:::                  'K' is kilometers                                      :::
        //:::                  'N' is nautical miles                                  :::
        function distance(lat1, lon1, lat2, lon2, unit) {
        	var radlat1 = Math.PI * lat1/180
        	var radlat2 = Math.PI * lat2/180
        	var theta = lon1-lon2
        	var radtheta = Math.PI * theta/180
        	var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        	dist = Math.acos(dist)
        	dist = dist * 180/Math.PI
        	dist = dist * 60 * 1.1515
        	if (unit=="K") { dist = dist * 1.609344 }
        	if (unit=="N") { dist = dist * 0.8684 }
        	return dist
        }

        // Add map
        if ($('#mapid').length > 0) {
          var mymap = new L.map('mapid').setView([45.516564,-73.575145], 18);
          var tileUrl = 'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png',
          layer = new L.TileLayer(tileUrl, {maxZoom: 18});
          mymap.addLayer(layer);
          // Add marker for the address
          var marker;
        }

        $('#geocodeBtn').click(function(e) {

            // Display a loading indicator
            $('form').addClass('loading');

              var geocoder = new L.Control.Geocoder.nominatim({ geocodingQueryParams: { countrycodes: 'ca'}});
              // var yourQuery = "4846 rue cartier, Montreal, Qc";
              var apt='',street  ='' , city ='', zipcode ='';

              if ($('#id_address_information-street').val() ) {
                street = $('#id_address_information-street').val()+ "&";
              }
              if ($('#id_address_information-city').val()) {
                city =  $('#id_address_information-city').val()+ "&"; ;
              }

              var yourQuery = apt +  street + city + zipcode;

              geocoder.geocode(yourQuery, function(results) {
                    if (results.length > 0 ) {;
                          var data = { address: results[0].name,
                                       lat: results[0].center.lat,
                                       long: results[0].center.lng };

                          // calculate distance between santropol and the place found
                          var dist = distance(45.516564,-73.575145, results[0].center.lat, results[0].center.lng,"K")

                          // update text field withe info
                          $('#id_address_information-latitude').val(data.lat);
                          $('#id_address_information-longitude').val(data.long);
                          $('#id_address_information-distance').val(dist);

                         // Add or update marker for the found address
                         if (typeof(marker)==='undefined') {
                           marker =   L.marker([ data.lat, data.long], {draggable:true});
                           marker.addTo(mymap);
                           mymap.setView([data.lat, data.long], 17);
                         }
                         else {
                            marker.setLatLng([data.lat,data.long]);
                            mymap.setView([data.lat, data.long], 17);
                         }

                          // Adjust latitude / longitude if user drag the marker
                          marker.on("dragend",function(ev){
                              var chagedPos = ev.target.getLatLng();
                              $('#id_address_information-latitude').val(chagedPos.lat);
                              $('#id_address_information-longitude').val(chagedPos.lng);
                              var newdist = distance(45.516564,-73.575145, chagedPos.lat,chagedPos.lng,"K")
                              $('#id_address_information-distance').val(newdist);
                          });
                    }
                    else {
                        alert("Address not Found !!");
                    }

                    // Remove the loading indicator
                    $('form').removeClass('loading');
              });
        });
    });

    </script>
{% endblock %}
