{% extends "base_billing.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Billing' %}{% endblock %}
{% block content %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Billing" %} #{{ billing.id}}</h1>
</div>

<table class="ui very basic stripped celled table">
  <thead>
    <tr>
      <th>{% trans "order id" %}</th>
      <th>{% trans "client name" %}</th>
      <th>{% trans "order date" %}</th>
      <th>{% trans "order status" %}</th>
      <th>{% trans "price" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for order in billing.client_billing.all %}
    <tr>
      <td><a href="{% url 'order:view' pk=order.order_id.id %}">{{order.order_id.id}}</a></td>
      <td><a href="{% url 'member:view' pk=order.order_id.client.id %}">{{order.order_id.client}}
      <td>{{order.order_id.delivery_date}}</td>
      <td>{{order.order_id.get_status_display}}</td>
      <td>{{order.order_id.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
