{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% load staticfiles %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header datetime">{% now "j F Y" %}</h1>
</div>

<div class="ui three column row">

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui teal header">{% trans "Clients" %}</h3>
            </div>
            <div class="ui secondary teal inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                      {{ active_clients }}
                    </div>
                    <div class="label">
                        {% trans "Active clients" %}
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <p><i class="warning icon"></i><strong>{{ pending_clients }}</strong> {% trans "clients are" %} <a href="{% url "member:list" %}?status=D">{% trans "pending" %}</a>.</p>
            </div>
        </div>
    </div>
           <div class="dashboard-stat column">
              <div class="ui segments">
                <div class="ui segment">
                  <h3 class="ui yellow header">{% trans "Delivered this month" %}</h3>
                </div>
                <div class="ui yellow  inverted dashboard center aligned segment">
                  <div class="ui dashboard statistic">
                    <div class="value">
                      {{ billable_orders.count }}
                    </div>
                    <div class="label">
                      {% trans "Orders" %}
                    </div>
                  </div>
                </div>
                <div class="ui segment">
                  <p>{% trans "Footer" %}</p>
                </div>
              </div>
            </div>
            <div class="dashboard-stat column">
              <div class="ui segments">
                <div class="ui segment">
                  <h3 class="ui blue header">{% trans "Any Header" %}</h3>
                </div>
                <div class="ui secondary blue inverted dashboard center aligned segment">
                  <div class="ui dashboard statistic">
                    <div class="value">
                      5,550
                    </div>
                    <div class="label">
                      {% trans "Downloads" %}
                    </div>
                  </div>
                </div>
                <div class="ui segment">
                  <p>{% trans "Footer" %}</p>
                </div>
              </div>
            </div>
          </div>

<div class="row">
    <div class="top-table column">
        <div class="ui segments">
          {% include "client/partials/birthdays.html" %}
      </div>
</div>



{% endblock %}
