{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Orders' %} {% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Orders</h2>
</div>


<div class="ui mobile reversed equal width grid">
  <div class="column">

    <form action="" method="get" class="ui form">

        <div class="inline fields">
            <div class="field">
                <label>Name</label>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="users icon"></i>
                        {{ filter.form.name }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="field">
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="field">
                <label>Delivery date</label>
                <div class="field">
                    <div class="ui calendar" id="order_delivery_date">
                        <div class="ui input left icon">
                              <i class="calendar icon"></i>
                              {{ filter.form.delivery_date }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <a href="{% url 'order:list' %}" class="ui button">Reset</a>
            <button class="ui yellow button" type="submit">Search</button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>

{% if orders %}
<table class="ui very basic stripped celled table">
  <thead>
    <th class="sorted descending">Order</th>
    <th class="">{% trans 'Client' %}</th>
    <th class="">{% trans 'Delivery Date' %}</th>
    <th class="">{% trans 'Status' %}</th>
    <th class="">{% trans 'Amount' %}</th>
    <th class="">{% trans 'Actions' %}</th>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td><strong>{{order.id}}</strong></td>
        <td><a href="{% url 'member:client_information' pk=order.client.id %}">{{order.client.member}}</a></td>
        <td>{{order.delivery_date}}</td>
        <td>{{order.get_status_display}}</td>
        <td>${{order.price}}</td>
        <td>
          <a class="ui blue icon button"  href="{% url 'order:view' pk=order.id %}"><i class="icon unhide"></i></a>
          <a class="ui green icon button"  href="{% url 'order:update' pk=order.id %}"><i class="icon edit"></i></a>
          <a class="ui red icon button order-delete" href="#" data-order-id="{{order.id}}"><i class="icon trash"></i></a>
        </td>
      </tr>
      {% include "order_confirm_delete.html" %}
    {% endfor %}
  </tbody>
  <tfoot>
      <tr>
          <th></th>
          <th colspan="5">
              {% include "system/_button_export.html" %}
          </th>
        </tr>
  </tfoot>
</table>

{% if is_paginated %}

<div class="ui pagination menu" style="margin: 2em auto; width=100%;";>
    {% if page_obj.has_previous %}
    <a class="icon item"
       href="{{ request.path }}{{ get }}display={{ display }}&page={{ page_obj.previous_page_number }}">
        <i class="left arrow icon"></i>
    </a>
    {% endif %}
    <a class="active item">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>
    {% if page_obj.has_next %}
    <a class="icon item"
       href="{{ request.path }}{{ get }}display={{ display }}&page={{ page_obj.next_page_number }}">
        <i class="right arrow icon"></i>
    </a>
    {% endif %}
</div>
{% endif %}


{% else %}
    <div class="ui row"><p>Sorry, no result found.</p></div>
{% endif %}

{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
  <script type="text/javascript">
    document.addEventListener( 'DOMContentLoaded', function () {
      $('table').tablesort();
    })

    $('.order-delete').click(function(){
        var order_id = $(this).attr('data-order-id');
        var selector = '.ui.basic.modal.order-' + order_id;
        $(selector).modal('show');
    });

    $(function() {
      $('#order_delivery_date').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });
      $('#wizard_form_date').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });

      $('.ui.button.add.member').on('click', function() {
        $('.existing--member').val('').attr('disabled', 'disabled');
        $(this).transition('scale');
        $('.ui.add.form.member').transition('scale');
      });
      $('.ui.button.cancel.add.member').on('click', function() {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').removeAttr('disabled');
      });
      if( $('.firstname').val() !== '' || $('.lastname').val() !== ''
          &&
          $('.existing--member').val() === '' ) {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').attr('disabled', 'disabled');
        $('.ui.add.form.member').transition('scale');
      }
      $('.ui.search')
        .search({
          apiSettings: {
            cache : 'local',
            url: '{% url 'member:search' %}?name={query}'
          },
          minCharacters : 3
        });
    });

    </script>
{% endblock %}
