{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Orders' %} {% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Update Order</h2>
</div>

<div class="ten wide column form-steps">
    <form action="" method="post" class="ui form error">
        {% if form.errors or formset.errors %}
            <div class="ui error message">
              <div class="header">{{ _('Required information missing')}}</div>
              <p>{{ _('Please review the form to make sure that all required fields are filled.')}}</p>
            </div>
        {% endif %}
        {% csrf_token %}
        {% include "_form.html" %}
        <a class="ui default button" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        <button class="ui primary button" type="submit">Update</button>
    </form>
</div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}" type="application/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('#form_creation_date').calendar({
                type: 'date',
                formatter: {
                    date: function (date, settings) {
                      if (!date) return '';
                      var day = date.getDate();
                      var month = date.getMonth() + 1;
                      var year = date.getFullYear();
                      if (month < 10) month = '0' + month;
                      if (day < 10) day = '0' + day;
                      return year + '-' + month + '-' + day;
                    }
                }
            });
            $('#form_delivery_date').calendar({
                type: 'date',
                startCalendar: $('#form_creation_date'),
                formatter: {
                    date: function (date, settings) {
                      if (!date) return '';
                      var day = date.getDate();
                      var month = date.getMonth() + 1;
                      var year = date.getFullYear();
                      if (month < 10) month = '0' + month;
                      if (day < 10) day = '0' + day;
                      return year + '-' + month + '-' + day;
                    }
                }
            });
        });


       $(function() {
           {% for formset in inlines %}
           $('div#{{ formset.prefix }}').formset({
               prefix: '{{ formset.prefix }}',
               formCssClass: 'dynamic-formset{{ forloop.counter }}',
               addText: '<i class="ui add icon item"></i> Add order item',
               deleteText: '<i class="ui remove icon order item"></i> Remove order item',
               addCssClass: 'positive ui button right floated',
               deleteCssClass: 'negative ui button'
           });
           {% endfor %}
       })

    </script>
{% endblock %}
