{% extends "base_order.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %} {% trans 'View Order' %} {% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Order" %} #{{ order.id }}</h1>
    <div class="right menu">
        <div class="ui item">
            <div class="ui dropdown status">
                <div class="ui large yellow label text">{{ order.get_status_display }}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for k,s in status %}
                        <div class="item" data-value={{k}}>
                             {{s}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui row">

<div class="four wide column">
    {% include "_order_info.html" %}
</div>

<div class="twelve wide column">
        <h2 class="ui header">
        <div class="content">
            {% trans "Order detail" %}
            <div class="sub header">
                {% trans "Order items attached to the order" %}.
            </div>
        </div>
    </h2>
    <div class="ui divider"></div>
    <table class="ui celled padded table">
      <thead>
        <th>{% trans "Component" %}</th>
        <th>{% trans "Description" %}</th>
        <th class="">{% trans 'Total Quantity' %}</th>
        <th class="">{% trans 'Free Quantity' %}</th>
        <th class="right aligned">{% trans 'Price' %}</th>
      </thead>
      <tbody>
          {% for item in order.orders.all %}
          <tr>
            <td><strong>{{item.order_item_type}}</strong></td>
            <td>{{item.component_group}}</td>
            <td>{{item.total_quantity}}</td>
            <td>{{item.free_quantity}}</td>
            <td class="right aligned"><i class="dollar icon"></i>{{item.price}}</td>
          </tr>
          {% endfor %}
      </tbody>
      <tfoot>
          <tr>
              <th colspan="4">{% trans "Total" %}</th>
              <th class="right aligned"><i class="dollar icon"></i>{{ order.price }}</th>
          </tr>
      </tfoot>
  </table>
</div>
</div>

<div class="ui row">

    <a class="ui basic red button order-delete" href="#" data-order-id="{{order.id}}"><i class="icon trash"></i>{% trans "Delete" %}</a>
    <a class="ui basic green button" href="{% url 'order:update' pk=order.id %}"><i class="icon edit"></i>{% trans "Update" %}</a>

</div>

{% include 'order_confirm_delete.html' %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('.order-delete').click(function(){
        var order_id = $(this).attr('data-order-id');
        var selector = '.ui.basic.modal.order-' + order_id;
        $(selector).modal('show');
    });

    $('.ui.dropdown.status').dropdown({
        transition: 'drop',
        onChange: function(value, text, $selectedItem) {
            $(this).addClass('loading');
            $.ajax({
                url: "{% url 'order:update_status' pk=order.id %}",
                type: "POST",
                data: {
                    'status': value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response) {
                    $('.ui.dropdown.status').removeClass('loading');
                }
            })
        }
    });
</script>

{% endblock %}
