// Override the default icons location in semantic-ui-css

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff2") format('woff2'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
}