.leaflet-routing-container .geocoder-handle {
    background: #da8 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    cursor: move;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.leaflet-routing-geocoders input {
    margin-left: 4px;
    width: calc(100% - 28px);
}
.hide {
    display: none;
}
.geocoder-geolocate-btn {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.geocoder-geolocate-btn i {
    background: white none repeat scroll 0 0;
    bottom: 0;
    color: #ccc;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 0;
    line-height: 0.5;
    margin: -16px auto auto;
    padding: 0 4px 16px 0;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 10px;
    width: 12px;
    z-index: 1;
}
.geocoder-geolocate-btn i:hover {
    color: black;
}


// Set proper location for AwesomeMarker image files since it doesn't support sass vars. :(
.awesome-marker {
  background: url('../images/markers-soft.png') no-repeat 0 0 !important;
}

.awesome-marker-shadow {
  background: url('../images/markers-shadow.png') no-repeat 0 0 !important;
}

@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('../images/markers-soft@2x.png') !important;
 }
 .awesome-marker-shadow {
  background-image: url('../images/markers-shadow@2x.png') !important;
 }
}
