/* begin: jQuery UI Datepicker moving pixels fix */
        table.ui-datepicker-calendar {border-collapse: separate;}
        .ui-datepicker-calendar td {border: 1px solid transparent!important;}
/* end: jQuery UI Datepicker moving pixels fix */



.ui-datepicker .ui-datepicker-calendar .ordered-date a {
        border: 1px solid #fcefa1;
        background: #fbf9ee none;
}


/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
        background: #fbbd08 none; /* a color that fits the widget theme */
        color: white; /* a color that is readeable with the color above */
}
/* end: jQuery UI Datepicker emphasis on selected dates */
