{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %}{% trans "Client" %}{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">

    <h1 class="ui header">
        <div class="content">
            {{client}}
            <div class="sub header">{% trans "Client since" %} {{ client.member.created_at|date:"Y/m/d"}}</div>
        </div>
    </h1>
    <div class="right menu">
      <div class="ui item">
          <div class="ui dropdown member status" data-url="{% url 'member:clientStatusScheduler' client.id %}">
              <div class="ui large yellow label text">{{ client.get_status_display }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  {% for k,s in client_status %}
                      <div class="item" data-value={{k}}>
                           {{s}}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
</div>

<div class="ui modal status"></div>

<div class="sixteen wide column">
    {% include 'client/view/summary.html' %}
</div>

{% if client.alert %}
<div class="sixteen wide column">
    <div class="ui warning message">
        <div class="header">
            {% trans "Important notice" %}
        </div>
        <p>{{ client.alert }}</p>
    </div>
</div>
{% endif %}


<div class="ui stackable relaxed grid container">

    <div class="four wide column">
        {% include 'client/partials/menu.html' %}

        <a class="ui basic fluid button" href="{% url 'member:member_update_basic_information' client_id=client.id %}">
            {% trans "Edit" %}
        </a>
    </div>

    <div class="twelve wide column">
        {% block subcontent %}
        <!-- A block used by all children to include content here-->
        {% endblock %}
    </div>

</div>
{% endblock %}
