{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load static %}

{% block title %}{% trans "Client" %}{% endblock %}

{% block extrahead %}
<link href="{% static 'css/calendar.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/calendar.min.js' %}" type="application/javascript"></script>
<script type="text/javascript">
    // Init status dropdown behavior
    $('.ui.dropdown').dropdown({transition: 'drop'});

    // I prefer to use «Click Event» instead of «Dropdown Change»,
    // because I don't need this behavior when restoring default dropdown value
    // when denying modal
    $('.ui.dropdown.status > .menu > .item').click(function () {
        var value = $(this).data('value');
        var today = new Date();
        var modalCtntURL = "{% url 'member:clientStatusScheduler' client.id %}";
        $.get(modalCtntURL, {status:value}, function(data){
                $('.ui.modal.status')
                    .html(data)
                    .modal("setting", {
                        closable: false,
                        // Inside modal init
                        onVisible: function () {
                            // Enable status confirmation dropdown
                            $('.ui.status_to.dropdown').dropdown();
                            // Init dates field (start and end)
                            $('#rangestart').calendar({
                                type: 'date',
                                on: 'click',
                                minDate: new Date(
                                    today.getFullYear(),
                                    today.getMonth(),
                                    today.getDate()),
                                formatter: {
                                    date: function (date, settings) {
                                        if (!date) return '';
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        if (month < 10) month = '0' + month;
                                        if (day < 10) day = '0' + day;
                                        return year + '-' + month + '-' + day;
                                    }
                                },
                                endCalendar: $('#rangeend')
                            });
                            $('#rangeend').calendar({
                                type: 'date',
                                formatter: {
                                    date: function (date, settings) {
                                        if (!date) return '';
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        if (month < 10) month = '0' + month;
                                        if (day < 10) day = '0' + day;
                                        return year + '-' + month + '-' + day;
                                    }
                                },
                                startCalendar: $('#rangestart')
                            });
                        },
                        // When approvind modal, submit form
                        onApprove: function($element) {
                            // $('#change-status-form').submit();
                            console.log($('#change-status-form').serialize());
                            $.ajax({
                                 type: 'POST',
                                 url: "{% url 'member:clientStatusScheduler' client.id %}"  ,
                                 data: $('#change-status-form').serialize(),
                                 success: function (xhr, ajaxOptions, thrownError) {
                                     if ( $(xhr).find('.errorlist').length > 0 ) {
                                         $('.ui.modal.status').html(xhr);
                                         console.log('show modal..')
                                         $('.ui.modal.status').modal("show");
                                     } else {
                                         location.reload();
                                     }
                                 },
                             });
                        },
                        // When denying modal, restore default value for status dropdown
                        onDeny: function($element) {
                            $('.ui.dropdown.status').dropdown('restore defaults');
                        }
                    })
                    .modal("show");
            });
    });
</script>
{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">

    <h1 class="ui header">
        <div class="content">
            {{client}}
            <div class="sub header">{% trans "Client since" %} {{ client.member.created_at|date:"Y/m/d"}}</div>
        </div>
    </h1>
    <div class="right menu">
        <div class="ui item">
            <div class="ui teal large label">{{ client.get_delivery_type_display }}</div>
        </div>
      <div class="ui item">
          <div class="ui dropdown status">
              <div class="ui large yellow label text">{{ client.get_status_display }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  {% for k,s in client_status %}
                      <div class="item" data-value={{k}}>
                           {{s}}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
</div>

<div class="ui modal status"></div>

<div class="sixteen wide column">
    {% include 'client/view/summary.html' %}
</div>

{% if client.alert %}
<div class="sixteen wide column">
    <div class="ui warning message">
        <div class="header">
            {% trans "Important notice" %}
        </div>
        <p>{{ client.alert }}</p>
    </div>
</div>
{% endif %}


<div class="ui stackable relaxed grid container">

    <div class="four wide column">
        {% include 'client/partials/menu.html' %}

        <a class="ui basic fluid button" href="{% url 'member:member_update_basic_information' client_id=client.id %}">
            {% trans "Edit" %}
        </a>
    </div>

    <div class="twelve wide column">
        {% block subcontent %}
        <!-- A block used by all children to include content here-->
        {% endblock %}
    </div>

</div>
{% endblock %}
