{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Clients{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Clients" %}</div>
{% endblock breadcrumb %}

{% block content %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Clients</h2>

    <div class="right menu">
      <a class="ui item {% if display == 'block' %} active {% endif %}"
         href="{{ request.path }}{{ get }}display=block">
          <i class="block layout icon"></i>
      </a>
      <a class="ui item {% if display == 'list' %} active {% endif %}"
         href="{{ request.path }}{{ get }}display=list">
          <i class="list layout icon"></i>
      </a>
    </div>
</div>

<div class="ui mobile reversed equal width grid">

  <div class="fourteen wide column">

    <form action="" method="get" class="ui form">

        <div class="inline fields">
            <div class="field">
                <label>Name</label>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="users icon"></i>
                        {{ filter.form.name }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Route</label>
                <div class="field">
                    {{ filter.form.route }}
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="field">
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="field">
                <label>Delivery</label>
                <div class="field">
                    {{ filter.form.delivery_type }}
                </div>
            </div>
            <input id="id_display" name="display" type="text" value="{{display}}" style="display:none">
        </div>
        <div class="field">
            <a href="{{ request.path }}?display={{ display }}" class="ui button">Reset</a>
            <button class="ui yellow button" type="submit">Search</button>
        </div>
    </form>
    <br/><br/>
  </div>
</div>

{% if display == 'block' %}
  {% if clients %}
<div class="ui cards">
    {% for obj in clients %}
    <a class="ui card" href="{% url 'member:client_information' pk=obj.id %}">
      <div class="content">
        <div class="header">{{ obj.member }}</div>
        <div class="meta">
            <span class="right floated time">
                <i class="help-text info icon link" data-content="Language: {{ obj.get_language_display }}"></i>
            </span>
            <span class="category">{{ obj.age }} years old</span>
        </div>
        <div class="description">
            <p>{{ obj.member.firstname }} is an <strong>{{ obj.get_delivery_type_display }}</strong>
                client on the <strong>{{ obj.route }}</strong> route.</p>
                <p>This client is currently <strong>{{ obj.get_status_display }}</strong>.</p>
            </div>
        </div>
        <div class="extra content">
            <i class="phone icon"></i>
            {{ obj.member.home_phone }}
            <div class="right floated author">
                <span class="category">
                    {% if obj.alert %}
                    <i class="help-text warning circle orange icon link" data-content="{{ obj.alert }}"></i>
                    {% endif %}
                </span>
            </div>
        </div>
    </a>

    {% endfor %}

</div>
{% else %}
    <div class="ui row"><p>Sorry, no result found.</p></div>

{% endif %}
{% else %}

{% if clients %}
<table class="ui very basic stripped celled table">
    <thead>
        <tr>
            <th class="sorted descending">Name</th>
            <th class="">Status</th>
            <th class="">Delivery</th>
            <th class="">Route</th>
            <th class="">Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in clients %}
        <tr>
            <td><a href="{% url 'member:client_information' pk=obj.id %}">{{ obj.member }}</a><br/>{{ obj.age }} years old</td>
            <td>{{ obj.get_status_display }}</td>
            <td>{{ obj.get_delivery_type_display }}</td>
            <td>{{ obj.route }}</td>
            <td>{{ obj.member.updated_at|date:"Y/m/d H:h:m"  }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th colspan="5">
                {% include "system/_button_export.html" %}
            </th>
          </tr>
    </tfoot>
</table>
{% else %}
  <div class="ui row"><p>Sorry, no result found.</p></div>
{% endif %}
{% endif %}

{% if is_paginated %}

<div class="ui pagination menu" style="margin: 2em auto; width=100%;";>
    {% if page_obj.has_previous %}
    <a class="icon item"
       href="{{ request.path }}{{ get }}display={{ display }}&page={{ page_obj.previous_page_number }}">
        <i class="left arrow icon"></i>
    </a>
    {% endif %}
    <a class="active item">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>
    {% if page_obj.has_next %}
    <a class="icon item"
       href="{{ request.path }}{{ get }}display={{ display }}&page={{ page_obj.next_page_number }}">
        <i class="right arrow icon"></i>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
