{% extends "base_delivery.html" %}
<!-- Load Internationalization utils -->
{% load i18n %}

{% block title %}{% trans 'Meal Information' %} {% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="segment ui">
  <h3>{% trans 'Recipe' %}</h3>
  <select class="ui fluid search selection dropdown">
    <option value="Parmesan Chicken">Parmesan Chicken</option>
    <option value="Spaghetti">Spaghetti</option>
    <option value="Ginger Pork">Ginger Pork</option>
  </select>
  <select class="ui fluid search dropdown" multiple="">
    <option value="Chicken">Chicken</option>
    <option value="tomato">Tomato</option>
    <option value="Pork">Pork</option>
    <option value="Ginger">Ginger</option>
  </select>
</div>
  <button class="ui button">
    Print label
  </button>
  <button class="ui button">
    Print Kitchen count
  </button>
  <a class="ui button" href="{% url 'delivery:route' %}">
    Next
  </a>

{% endblock content %}
