{% extends "base_member.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head %}
{{ wizard.form.media}}
{% endblock %}


{% block extrahead %}
    <link href="{% static 'css/calendar.min.css' %}" type="text/css" rel="stylesheet">
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block title %}Create a new client{% endblock %}

{% block message %}
<div class="ui message">
  <div class="header">
  Welcome to the client creation form
  </div>
  <p>Fill out the form below to create a new client. No information will be saved until all the steps are completed.</p>
</div>
{% endblock %}

{% block content %}

<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">New Client</h2>
</div>

  <div class="six wide column">
    <div class="ui vertical steps">

      {% include 'forms/step.html' with step=1 icon='male' name=_('Personal') description=_('First name, last name, ...') %}

      {% include 'forms/step.html' with step=2 icon='home' name=_('Address') description=_('Street number, city, ...') %}

      {% include 'forms/step.html' with step=3 icon='treatment' name=_('Referent') description=_('Referent contact information') %}

      {% include 'forms/step.html' with step=4 icon='payment' name=_('Payment') description=_('Payment method, card, ...') %}

      {% include 'forms/step.html' with step=5 icon='food' name=_('Allergies') description=_('Restrictions, allergies, ...') %}

      {% include 'forms/step.html' with step=6 icon='first aid' name=_('Emergency') description=_('Emergency contact information') %}

    </div>
  </div>

    <div class="ten wide column form-steps">
      <form action="" method="post" class="ui form error">{% csrf_token %}
        {% if wizard.form.errors %}
        <div class="ui error message">
          <div class="header">{{ _('Required information missing')}}</div>
          <p>{{ _('Please review the form to make sure that all required fields are filled.')}}</p>
          {{ wizard.form.errors }}
        </div>
        {% endif %}
        {{wizard.management_form}}

        {% if wizard.form.forms %}

          {{wizard.form.management_form}}

          {% for form in wizard.form.forms}
            <div class="ui small icon input">
              sdfsfdsf
            </div>

        {% else %}
          {% if wizard.steps.current == 'basic_information' %}
            {% include 'forms/steps/basic_information.html' %}
          {% elif wizard.steps.current == 'address_information' %}
            {% include 'forms/steps/address_information.html' %}
          {% elif wizard.steps.current == 'referent_information' %}
            {% include 'forms/steps/referent_information.html' %}
          {% elif wizard.steps.current == 'payment_information' %}
            {% include 'forms/steps/payment_information.html' %}
          {% elif wizard.steps.current == 'dietary_restriction' %}
            {% include 'forms/steps/dietary_restriction.html' %}
          {% elif wizard.steps.current == 'emergency_contact' %}
            {% include 'forms/steps/emergency_contact.html' %}
          {% else %}

            {% for form in wizard.form %}

            <div class="field {% if form.errors %} error {% endif %}">
              <label>{{ form.label }} ({{form.name}})</label>
              {{ form }}
            </div>
          {% endfor %}

          {% endif %}

        {% endif %}

        {% if wizard.steps.prev %}
        <button class="ui left floated button" name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">
          {% trans "Back"%}
        </button>
        {% endif %}
        {% if wizard.steps.step1 == 6 %}
          <input class="big ui right floated yellow button" type="submit" value="Save"/>
        {% else %}
          <button  class="big ui yellow right floated button" name="wizard_goto_step" type="submit">Next</button>
        {% endif %}
      </form>
</div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'jquery/calendar.min.js' %}" type="application/javascript"></script>
  <script src="{% static 'leaflet-geocoder/Control.Geocoder.js' %}" type="application/javascript"></script>
  <script type="text/javascript">
    $(function() {

      $('.ui.dropdown').dropdown({transition: 'drop'});

      $('#id_dietary_restriction-delivery_type').dropdown({
        onChange: function(value, text, $selectedItem) {
          if($selectedItem.data('value') == 'E')
          {
            $('#form-delivery-schedule').hide();
          }
          else {
            $('#form-delivery-schedule').show();
          }
        }
      });

      $('#wizard_form_birthdate').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });

      $('#wizard_form_date').calendar({
        type: 'date',
        formatter: {
          date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            return year + '-' + month + '-' + day;
          }
        }
      });

      $('.ui.button.add.member').on('click', function() {
        $('.existing--member').val('').attr('disabled', 'disabled');
        $(this).transition('scale');
        $('.ui.add.form.member').transition('scale');
      });

      $('.ui.button.cancel.add.member').on('click', function() {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').removeAttr('disabled');
      });

      if( $('.firstname').val() !== '' || $('.lastname').val() !== ''
          &&
          $('.existing--member').val() === '' ) {
        $('.ui.button.add.member').transition('scale');
        $('.existing--member').attr('disabled', 'disabled');
        $('.ui.add.form.member').transition('scale');
      }

      $('.ui.search').search({
        apiSettings: {
          cache : 'local',
          url: '{% url 'member:search' %}?name={query}'
        },
        minCharacters : 3
      });

      function showOneAccordionElement(element, index, array) {
        selector = '.ui.accordion.meals.' + element;
        $(selector).show();
      }
      function showUiAccordionSelectedDays() {
        var $selected = $('#id_dietary_restriction-delivery_schedule').val();
        if ($selected) {
          $selected.forEach(showOneAccordionElement);
        }
      }
      function hideUiAccordionDays() {
        $('.ui.accordion.meals').each(function () {
          $(this).hide();
        });
      }
      $('#id_dietary_restriction-delivery_schedule').change(function () {
        hideUiAccordionDays();
        showUiAccordionSelectedDays();
      });
      hideUiAccordionDays();
      showUiAccordionSelectedDays();

        //:::  This routine calculates the distance between two points (given the     :::
        //:::  latitude/longitude of those points).                                   :::
        //:::  Passed to function:                                                    :::
        //:::    lat1, lon1 = Latitude and Longitude of point 1 (in decimal degrees)  :::
        //:::    lat2, lon2 = Latitude and Longitude of point 2 (in decimal degrees)  :::
        //:::    unit = the unit you desire for results                               :::
        //:::           where: 'M' is statute miles (default)                         :::
        //:::                  'K' is kilometers                                      :::
        //:::                  'N' is nautical miles                                  :::
        function distance(lat1, lon1, lat2, lon2, unit) {
        	var radlat1 = Math.PI * lat1/180
        	var radlat2 = Math.PI * lat2/180
        	var theta = lon1-lon2
        	var radtheta = Math.PI * theta/180
        	var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        	dist = Math.acos(dist)
        	dist = dist * 180/Math.PI
        	dist = dist * 60 * 1.1515
        	if (unit=="K") { dist = dist * 1.609344 }
        	if (unit=="N") { dist = dist * 0.8684 }
        	return dist
        }

        $('#geocodeBtn').click(function(e) {
              var geocoder = new L.Control.Geocoder.nominatim({ geocodingQueryParams: { countrycodes: 'ca'}});
              // var yourQuery = "4846 rue cartier, Montreal, Qc";
              var apt='',street  ='' , city ='', zipcode ='';
              // if ($('#id_address_information-apartment').val()) {
              //   apt = "#" + $('#id_address_information-apartment').val() + " ";
              // }
              if ($('#id_address_information-street').val() ) {
                street = $('#id_address_information-street').val()+ " ";
              }
              if ($('#id_address_information-city').val()) {
                city = $('#id_address_information-city').val() ;
              }
              // if ($('#id_address_information-postal_code').val()) {
              //   zipcode = $('#id_address_information-postal_code').val() ;
              // }
              var yourQuery = apt +  street + city +zipcode;

              geocoder.geocode(yourQuery, function(results) {
                    // latLng= new L.LatLng(results[0].center.lat, results[0].center.lng);
                    if (results.length > 0 ) {
                          //alert("lat" +results[0].center.lat + " long"+ results[0].center.lng);
                          //alert(results[0].name);
                          var data = { address: results[0].name,
                                       lat: results[0].center.lat,
                                       long: results[0].center.lng };

//                              $('.modal').modal('show');
                          var dist = distance(45.516564,-73.575145, results[0].center.lat, results[0].center.lng,"K")
                          alert("Info reverse geocode lat:" + data.lat + " long:"+ data.long + " address:"+ data.address +" distance from santropol" + dist );

                          // $.ajaxSetup({
                          //     headers: { "X-CSRFToken": getCookie("csrftoken") }
                          // });
                          //
                          // $.post("../../geolocateAddress/", data, function(result){
                          //   alert("Post Successful " + result.latitude);
                          // });

                          $('#id_address_information-lat').val(data.lat);
                          $('#id_address_information-lon').val(data.lon);
                          $('#id_address_information-distance').val(dist);


                    }
                    else {
                        alert("Address not Found !!");
                    }
              });
        });
    });

    </script>
{% endblock %}
