{% extends "base_member.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head %}
{{ wizard.form.media}}
{% endblock %}


{% block extrahead %}
    <link href="{% static 'css/calendar.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Create a new client{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<i class="right arrow icon divider"></i>
<div class="active section">{% trans "Add new client" %}</div>
{% endblock breadcrumb %}

{% block content %}

<h1>{{ _('Add New Client') }}</h1>

<div class="ui grid">
    <div class="six wide column">
        <div class="ui vertical steps">

            {% include 'forms/step.html' with step=1 icon='male' name=_('Personal') description=_('First name, last name, ...') %}

            {% include 'forms/step.html' with step=2 icon='home' name=_('Address') description=_('Street number, city, ...') %}

            {% include 'forms/step.html' with step=3 icon='treatment' name=_('Referent') description=_('Referent contact information') %}

            {% include 'forms/step.html' with step=4 icon='payment' name=_('Payment') description=_('Payment method, card, ...') %}

            {% include 'forms/step.html' with step=5 icon='food' name=_('Allergies') description=_('Restrictions, allergies, ...') %}

            {% include 'forms/step.html' with step=6 icon='first aid' name=_('Emergency') description=_('Emergency contact information') %}

        </div>
    </div>

    <div class="ten wide column">

        <form action="" method="post" class="ui form error">{% csrf_token %}
            {% if wizard.form.errors %}
            <div class="ui error message">
                <div class="header">{{ _('Required information missing')}}</div>
                <p>{{ _('Please review the form to make sure that all required fields are filled.')}}</p>
                {{ wizard.form.errors }}
            </div>
            {% endif %}
            {{wizard.management_form}}

            {% if wizard.form.forms %}

                {{wizard.form.management_form}}

                {% for form in wizard.form.forms}
                    <div class="ui small icon input">
                        sdfsfdsf
                    </div>

            {% else %}
                {% if wizard.steps.current == 'basic_info' %}
                    {% include 'forms/steps/basic_info.html' %}
                {% elif wizard.steps.current == 'address_information' %}
                    {% include 'forms/steps/address_information.html' %}
                {% elif wizard.steps.current == 'referent_information' %}
                    {% include 'forms/steps/referent_information.html' %}
                {% elif wizard.steps.current == 'payment_information' %}
                    {% include 'forms/steps/payment_information.html' %}
                {% elif wizard.steps.current == 'dietary_restriction' %}
                    {% include 'forms/steps/dietary_restriction.html' %}
                {% elif wizard.steps.current == 'emergency_contact' %}
                    {% include 'forms/steps/emergency_contact.html' %}
                {% else %}

                    {% for form in wizard.form %}

                    <div class="field {% if form.errors %} error {% endif %}">
                        <label>{{ form.label }} ({{form.name}})</label>
                        {{ form }}
                    </div>
                {% endfor %}

                {% endif %}

            {% endif %}

            {% if wizard.steps.prev %}
            <button class="ui left floated button" name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">
                {% trans "Back"%}
            </button>
            {% endif %}

            {% if wizard.steps.step1 == 6 %}
            <input class="big ui right floated yellow button" type="submit" value="Save"/>
            {% else %}
            <button  class="big ui yellow right floated button" name="wizard_goto_step" type="submit">Next</button>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'jquery/calendar.min.js' %}" type="application/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('#wizard_form_birthdate').calendar({
                type: 'date',
                formatter: {
                    date: function (date, settings) {
                      if (!date) return '';
                      var day = date.getDate();
                      var month = date.getMonth() + 1;
                      var year = date.getFullYear();
                      if (month < 10) month = '0' + month;
                      if (day < 10) day = '0' + day;
                      return year + '-' + month + '-' + day;
                    }
                }
            });
            $('#wizard_form_date').calendar({
                type: 'date',
                formatter: {
                    date: function (date, settings) {
                      if (!date) return '';
                      var day = date.getDate();
                      var month = date.getMonth() + 1;
                      var year = date.getFullYear();
                      if (month < 10) month = '0' + month;
                      if (day < 10) day = '0' + day;
                      return year + '-' + month + '-' + day;
                    }
                }
            });
        });
    </script>
{% endblock %}