{% extends "base.html" %}
<!-- Load Internationalization utils-->
{% load i18n %}

{% block title %}{% trans 'Pick Ingredients' %} {% endblock %}

{% block extrajs %}
    <script type="text/javascript">
     $('#id_maindish').dropdown({
       onChange: function(value, text, $selectedItem) {
         window.location.replace('{% url 'delivery:meal' %}'+value)
       }
     });
    </script>
{% endblock %}

{% block content %}

    {% include 'kitchen_count_steps.html' with step='ingredients' %}

    <div class="ui secondary pointing fluid menu">
        <h1 class="ui header">Pick ingredients</h1>
        <div class="right menu">
            <div class="ui item"><h3><i class="ui calendar icon"></i>{{ date }}</h3></div>
        </div>
    </div>

    <form class="ui form" action="{% url 'delivery:meal' %}" method="post">
        <div class="ui container">
            <div class="ui segment">
                <h2 class="ui header">Main Dish</h2>
                {{form.errors}}
                <div class="ui row">
                    {% csrf_token %}
                        <div class="field dish selection">
                            <label>{{ form.maindish.label }}</label>
                            {{ form.maindish }}
                        </div>
                        <div class="field ingredients selection">
                            <label>{{ form.ingredients.label }}</label>
                            {{ form.ingredients }}
                        </div>
                        <div>
                            <input class="ui button" type="submit" value="Restore recipe" name="_restore" />
                        </div>
                </div>
            </div>
        </div>
        <div class="ui row">
            <a class="ui big button" href="{% url 'delivery:order' %}">Back </a>
            <input class="ui big yellow button" type="submit" value="Next: Print Kitchen Count" name="_next" </>
        </div>
    </form>
{% endblock content %}
