{% extends "base.html" %}
<!-- Load Internationalization utils-->
{% load i18n %}

{% block title %}{% trans 'Kitchen Count report' %} {% endblock %}

{% block content %}

{% include 'kitchen_count_steps.html' with step='kitchen_count' %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Kitchen Count Report" %}</h1>
    <div class="right menu">
      <div class="ui item"><h3><i class="ui calendar icon"></i>{% now "j F Y" %}</h3></div>
    </div>
</div>


<div class="ui basic segment no-print">
    <a href="javascript:window.print()" class="ui labeled icon right big button"><i class="print icon"></i>{% trans 'Print the Report' %}</a>
</div>


<table class="ui very basic celled table">
  <thead>
   <tr class="top aligned">
    <th class="">{% trans 'Component' %}</th>
    <th class="">{% trans "TOTAL" %}<br>{% trans 'Regular' %}</th>
    <th class="">{% trans "TOTAL" %}<br>{% trans 'Large' %}</th>
    <th class="">{% trans 'Dish today' %}</th>
    <th class="">{% trans 'Ingredients today' %}</th>
   </tr>
  </thead>
  <tbody>
    {% for obj in component_lines %}
      <tr>
        <td><strong>{{obj.component_group}}</strong></td>
        <td>{{obj.rqty}}</td>
        <td>{{obj.lqty}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.ingredients}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table class="ui very compact celled  table">
  <thead>
   <tr class="top center aligned">
    <th class="">{% trans 'Client' %}</th>
    <th class="">{% trans 'Qty' %} - {% trans 'Reg' %}</th>
    <th class="">{% trans 'Qty' %} - {% trans 'Lge' %}</th>
    <th class="">{% trans 'Clashing' %} - {% trans 'Component' %}</th>
    <th class="">{% trans 'Clashing' %} - {% trans 'Ingredients' %}</th>
    <th class="">{% trans 'Preparation' %}</th>
    <th class="">{% trans 'Restrictions' %}</th>
   </tr>
  </thead>
  <tbody>
    {% for obj in meal_lines %}
      <tr{% if obj.client == "SUBTOTAL" or obj.client == "TOTAL SPECIALS" %} class="positive"{% endif %}>
        <td><strong>{{obj.client}}</strong></td>
        <td class="center aligned">{{obj.rqty}}</td>
        <td class="center aligned">{{obj.lqty}}</td>
        <td>{{obj.comp_clash}}</td>
        <td>{{obj.ingr_clash}}</td>
        <td>{{obj.preparation}}</td>
        <td>{% if obj.rest_comp %} {{obj.rest_comp}}; {% endif %}
            {% if obj.rest_ingr %} {{obj.rest_ingr}}; {% endif %}
            {{obj.rest_item}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="actions">
<a class="big ui button" href="{% url 'delivery:meal' %}">{% trans "Back" %}</a>
<a class="big ui yellow button" href="{% url 'delivery:route' %}">{% trans "Next: Organize Routes" %}</a>
</div>
{% endblock %}
