{% extends "base.html" %}
<!-- Load Internationalization utils-->
{% load i18n %}

{% block title %}{% trans 'Kitchen Count report' %} {% endblock %}

{% block content %}

{% include 'kitchen_count_steps.html' with step='kitchen_count' %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Kitchen Count Report" %}</h1>
    <div class="right menu">
      <div class="ui item"><h3><i class="calendar icon"></i>{% now "j F Y" %}</h3></div>
    </div>
</div>


<div class="ui basic segment no-print">
    <a href="javascript:window.print()" class="ui labeled icon right big button"><i class="print icon"></i>{% trans 'Print the Report' %}</a>
    {% if num_labels > 0 %}
      <a class="big ui button" href="{% url 'delivery:mealLabels' %}">{% trans "Download Labels" %}</a>
    {% else %}
      <button type="button" disabled class="big ui button">{% trans "No Labels Found" %}</button>
    {% endif %}
</div>


<table class="ui very basic celled table">
  <thead>
   <tr class="top aligned">
    <th class="">{% trans 'Component' %}</th>
    <th class="">{% trans "TOTAL" %}<br>{% trans 'Regular' %}</th>
    <th class="">{% trans "TOTAL" %}<br>{% trans 'Large' %}</th>
    <th class="">{% trans 'Dish today' %}</th>
    <th class="">{% trans 'Ingredients today' %}</th>
   </tr>
  </thead>
  <tbody>
    {% for obj in component_lines %}
      <tr>
        <td><strong>{{obj.component_group}}</strong></td>
        <td>{{obj.rqty}}</td>
        <td>{{obj.lqty}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.ingredients}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table class="ui very compact celled structured table">
  <thead>
   <tr class="top center aligned">
    <th class="">{% trans 'Clashing' %} - {% trans 'Ingredients' %}</th>
    <th class="">{% trans 'Qty' %} - {% trans 'Reg' %}</th>
    <th class="">{% trans 'Qty' %} - {% trans 'Lge' %}</th>
    <th class="">{% trans 'Client' %}</th>
    <th class="">{% trans 'Preparation' %}</th>
    <th class="">{% trans 'Restrictions' %}</th>
   </tr>
  </thead>
  <tbody>
    {% for obj in meal_lines %}
      <tr{% if obj.client == "" and obj.ingr_clash == "" %} class="active"{% endif %}>
        {% if not obj.span %}
              <td><strong>{{obj.ingr_clash}}</strong></td>
        {% elif obj.span != "-1" %}
              <th rowspan={{obj.span}}>{% firstof obj.ingr_clash "&nbsp;" %}</th>
        {% endif %}
        <td class="center aligned">{% firstof obj.rqty "&nbsp;" %}</td>
        <td class="center aligned">{% firstof obj.lqty "&nbsp;" %}</td>
        <td>{% firstof obj.client "&nbsp;" %}</td>
        <td>{% firstof obj.preparation "&nbsp;" %}</td>
        <td>{{obj.rest_ingr}}{% if obj.rest_ingr %} ; {% endif %} <strong>{% firstof obj.rest_item "&nbsp;" %}</strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="actions">
<a class="big ui button" href="{% url 'delivery:meal' %}">{% trans "Back" %}</a>
<a class="big ui yellow button" href="{% url 'delivery:routes' %}">{% trans "Next: Organize Routes" %}</a>
</div>
{% endblock %}
