{% load i18n %}

<div class="ui four ordered steps">
  <div class="{% if step == 'orders' %} active{% endif %} step">
    <div class="content">
      <div class="title">{% trans 'Review Orders' %}</div>
      <div class="description">{% trans 'Review the orders for the day.' %}</div>
    </div>
  </div>
  <div class="{% if step == 'ingredients' %} active{% endif %} step">
    <div class="content">
      <div class="title">{% trans 'Ingredients' %}</div>
      <div class="description">{% trans 'Pick ingredients for the day.' %}</div>
    </div>
  </div>
  <div class="{% if step == 'kitchen_count' %} active{% endif %} step">
    <div class="content">
      <div class="title">{% trans 'Kitchen Count' %}</div>
      <div class="description">{% trans 'Print the kitchen count.' %}</div>
    </div>
  </div>
  <div class="{% if step == 'routes' %} active{% endif %} step">
    <div class="content">
      <div class="title">{% trans 'Routes' %}</div>
      <div class="description">{% trans 'Organize the delivery routes.' %}</div>
    </div>
  </div>
</div>
