{% extends "base.html" %}
<!-- Load Internationalization utils-->
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Routes Information' %} {% endblock %}

{% block extrahead %}
    {% load leaflet_tags %}
    {% leaflet_css %}

    <link href="{% static 'leaflet-routing/leaflet-routing-machine.css' %}" rel="stylesheet">
    <link href="{% static 'leaflet-geocoder/Control.Geocoder.css' %}" rel="stylesheet">
    <link href="{% static 'leaflet-awesome-markers/leaflet.awesome-markers.css' %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'kitchen_count_steps.html' with step='routes' %}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{% trans "Organize Routes" %}</h2>
    <div class="right menu">
      <div class="ui item"><h3><i class="ui calendar icon"></i>{% now "j F Y" %}</h3></div>
    </div>
</div>

<select class="ui dropdown">
    {% for route in routes %}
    <option value="{{ route.id }}">{{ route.name }}</option>
    {% endfor %}
</select>

<button id='btnprint' class="ui primary labeled icon right floated  button">
    <i class="print icon"></i>
    {% trans "Print" %}
</button>
<button id='btnsave' class="ui  labeled icon right floated button">
    <i class="save icon"></i>
    {% trans "Save" %}
</button>

<div class="row">
  <div class="twelve wide column">
    {% leaflet_map "main" callback="main_map_init" %}
  </div>
  <div class="four wide column">
    <div class="controls"></div>
  </div>
</div>

<a class="big ui right floated button" href="{% url 'delivery:kitchen_count' %}">{% trans "Back" %}</a>

{% endblock %}

{% block extrajs %}
    {% leaflet_js %}
    <script src="{% static 'leaflet-routing/leaflet-routing-machine.js' %}" type="application/javascript"></script>
    <script src="{% static 'leaflet-geocoder/Control.Geocoder.js' %}" type="application/javascript"></script>
    <script src="{% static 'leaflet-awesome-markers/leaflet.awesome-markers.js' %}" type="application/javascript"></script>
    <script src="{% static 'leaflet-icon-glyph/Leaflet.Icon.Glyph.js' %}" type="application/javascript"></script>
    <script src="{% static 'sortable/Sortable.js' %}" type="application/javascript"></script>
    <script src="{% static 'leaflet-routing/mapbox/lrm-mapbox-1.0.4.js' %}" type="application/javascript"></script>

    <script type="text/javascript">
    $('.ui.dropdown').dropdown({transition: 'drop'});

    var control;

    function printMapAndItinerary() {
        var body               = $('body');
        var mapContainer       = $('#main');
        var mapContainerParent = mapContainer.parent();
        var printContainer     = $('<div>');
        var itinerary = $(".leaflet-routing-alt table");

        printContainer
            .addClass('print-container')
            .css('position', 'relative')
            .height(mapContainer.height())
            .append(mapContainer)
            .append(itinerary)
            .prependTo(body);

        var content = body
            .children()
            .not('script')
            .not(printContainer)
            .detach();

        window.print();

        body.prepend(content);
        mapContainerParent.prepend(mapContainer);

        printContainer.remove();

    }

    function getWaypoints(routeId) {
        var waypoints = [];
        // Reset current waypoints
        control.setWaypoints(waypoints);

        // Ajax call to get waypoint according route
        $.get( "../getDailyOrders/?route="+routeId, function(data ) {

            var deliveryPoints = L.Routing.Waypoint.extend({ member:"", address:""});
            // create an array of waypoint from ajax call
            for(var i in data.waypoints)
            {
                 waypoints.push(new deliveryPoints(L.latLng(data.waypoints[i].latitude, data.waypoints[i].longitude)) );
                 waypoints[i].options.address = data.waypoints[i].address;
                 waypoints[i].options.member = data.waypoints[i].member;
                 waypoints[i].options.id = data.waypoints[i].id;
                 waypoints[i].name = data.waypoints[i].member ;
            }

            //add fisrt waypoint for santropol
            var santro = new deliveryPoints(L.latLng(45.516564,  -73.575145));
            santro.name = "santropol";
            waypoints.splice(0, 0, santro);

            // Set waypoints on the map
            control.setWaypoints(waypoints);
          }
        );
    }

    function main_map_init (map, options) {

        // create a new tile layer wiyh bike path (http://thunderforest.com/maps/opencyclemap/)
        var tileUrl = 'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png',
        layer = new L.TileLayer(tileUrl, {maxZoom: 18});

        // add the layer to the map
        map.addLayer(layer);

        // center on santropol
        map.setView(new L.LatLng(45.516564, -73.575145), 13);

        // Create bike router using mapbox
        var bikerouter = L.Routing.mapbox('pk.eyJ1IjoicmphY3F1ZW1pbiIsImEiOiJjaXAxaWpxdGkwMm5ydGhtNG84eGdjbGthIn0.TdwCw6vhAJdgxzH0JBp6iA');
        bikerouter.options.profile = 'mapbox.cycling';

        // Extend Routing Control to build  sortable geocoder
        var routingContol = L.Routing.Control.extend({
            initialize: function(map, initialWaypoints) {
                L.Routing.Control.prototype.initialize.call(this, {
                    router: bikerouter,
                    geocoder: L.Control.Geocoder.nominatim({ geocodingQueryParams: { countrycodes: 'ca'}}),
                    routeWhileDragging: true,
                    reverseWaypoints: true,
                    language: 'fr',
                    showAlternatives: true,
                    lineOptions: {
                        styles: [
                            {color: 'black', opacity: 0.3, weight: 11},
                            {color: 'white', opacity: 0.9, weight: 9},
                            {color: 'red', opacity: 1, weight: 3}
                        ]
                    },
                    altLineOptions: {
                        styles: [
                            {color: 'black', opacity: 0.1, weight: 11},
                            {color: 'white', opacity: 0.25, weight: 9},
                            {color: 'blue', opacity: 0.25, weight: 3}
                        ]
                    },
                    // waypoints: waypoints,
                    createMarker: function(i, wp) {
                         var  marker;

                        // adjust marker according waypoints
                        if (wp.name == "santropol") {
                           // add awesome marker for santropol
                           marker =  L.marker([45.516564, -73.575145], {
                               draggable: false,
                               opacity: 1,
                               icon: L.AwesomeMarkers.icon({icon: 'cutlery', prefix: 'fa', markerColor: 'red', iconColor: '#f28f82'})
                           });

                           var info = "<div class='ui list'>"
                                          +"<div class='item'><i class='user icon'></i> Santro </div>"
                                          +"</div>"

                           marker.bindPopup(info).openPopup();

                           return marker;
                        }
                        else {
                           marker =  L.marker(wp.latLng, {
                               icon: L.icon.glyph({
                                   prefix: '',
                                   glyph: String.fromCharCode(65 + i)
                               }),
                               draggable: true
                           });

                           var info = "<div class='ui list'>"
                                          +"<div class='item'><i class='user icon'></i>" + wp.options.member + "</div>"
                                          +"<div class='item'><i class='home icon'></i>" + wp.options.address + "</div>"
                                          +"</div>"

                           marker.bindPopup(info).openPopup();
                           return marker;
                        }

                    },
                    createGeocoder: L.bind(function(i) {
                        var geocoder = L.Routing.GeocoderElement.prototype.options.createGeocoder.call(this, i, this.getPlan().getWaypoints().length, this.getPlan().options),
                            handle = L.DomUtil.create('div', 'geocoder-handle'),
                            geolocateBtn = L.DomUtil.create('span', 'geocoder-geolocate-btn', geocoder.container);

                        handle.innerHTML = String.fromCharCode(65 + i);
                        geocoder.container.insertBefore(handle, geocoder.container.firstChild);

                        L.DomEvent.on(handle, 'click', function() {
                            var wp = this.getWaypoints()[i];

                        }, this);

                        return geocoder;
                    }, this)
                });
            },
        });

        // Bind control outside of the map
        control = new routingContol()
        var routeBlock = control.onAdd(map);
        $(".controls").append(routeBlock);


        $("#btnprint").click(function(){
           printMapAndItinerary();
        });

        $("#btnsave").click(function(){
            var wp = control.getWaypoints();
            var data ={ members: [] };

            // simplify waypoint into a list of member id in the map order
            $.each(wp, function(key,value) {
                console.log(value);
                console.log(value.options);
                if (typeof value.options.id !== "undefined") {
                    data.members.push({
                        "id" : value.options.id
                    });
                }
            });

             // Post simple list of members to server
             $.ajax("../saveRoute/", {
                  data : JSON.stringify(data),
                  contentType : 'application/json; charset=utf-8',
                  type : 'POST',
                  dataType: "json",
                  success: function(result) {
                      alert("Route Saved");
                  }
             });
        });

         // during init
        $('.ui.dropdown').dropdown({
            onChange: function(routeId) {
                getWaypoints(routeId);
            }
        });


         // Add sortable on the route controler
         Sortable.create(document.querySelector('.leaflet-routing-geocoders'), {
               handle: '.geocoder-handle',
               draggable: '.leaflet-routing-geocoder',
               onUpdate: function(e) {
                   var oldI = e.oldIndex,
                       newI = e.newIndex,
                       wps = control.getWaypoints(),
                       wp = wps[oldI];

                   if (oldI === newI || newI === undefined) {
                       return;
                   }

                   wps.splice(oldI, 1);
                   wps.splice(newI, 0, wp);
                   control.setWaypoints(wps);
               }
         });

         getWaypoints(1);
    }

</script>
{% endblock %}
