{% extends "base.html" %}
<!-- Load Internationalization utils-->
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}{% trans 'Routes Information' %} {% endblock %}

{% block extrahead %}
    {% load leaflet_tags %}
    {% leaflet_css %}

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% has_perm 'sous_chef.edit' request.user as can_edit_data %}

{% include 'kitchen_count_steps.html' with step='routes' %}

<div class="ui secondary pointing fluid menu">
    <h1 class="ui header">{% trans "Delivery routes" %}</h1>
    <div class="right menu">
      <div class="ui item"><h3><i class="calendar icon"></i>{% now "j F Y" %}</h3></div>
    </div>
</div>

<div class="row">
    <div class="column">
        <a href="?print=yes" class="ui big labeled icon right basic pink button" title="{% trans 'Print the route sheets' %}" target="_blank">
            <i class="print icon"></i>{% trans 'Route Sheets' %}
        </a>
    </div>
</div>

<div class="row">
    <div class="sixteen wide column">
      <div class="ui middle aligned divided list">
          {% for route, orders in routes %}
          <div class="item">
            <div class="right floated content">
              <a href="{% url 'delivery:organize_route' id=route.id %}" class="ui compact labeled {% if orders == 0 %} disabled {% endif %} icon button" title="{% trans 'Organize the route' %}">
                  <i class="marker icon"></i>{% trans 'Organize' %}
              </a>
              <a href="{% url 'delivery:route_sheet_id' id=route.id %}" class="ui compact labeled {% if orders == 0 %} disabled {% endif %} icon button" title="{% trans 'Print the route sheet' %}">
                  <i class="list layout icon"></i>{% trans 'Route sheet' %}
              </a>
            </div>
            <i class="large location arrow icon"></i>
            <div class="content">
              <div class="header">{{ route.name }}</div>
              <div class="description">
                  <i class="bicycle circular icon" title="{% trans 'Cycling map' %}"></i>
                  <div class="ui circular pink basic label" title="{% trans 'Number of orders on this route' %}">{{ orders }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% if can_edit_data %}
<a class="ui labeled icon big button" href="{% url 'delivery:kitchen_count' %}">
    <i class="chevron left icon"></i>{% trans "Back" %}
</a>
{% endif %}

{% endblock %}

{% block extrajs %}
    {% leaflet_js %}
    {% if debug %}
        <script src="{% static 'js/leaflet.js' %}" type="application/javascript"></script>
    {% else %}
        <script src="{% static 'js/leaflet.min.js' %}" type="application/javascript"></script>
    {% endif %}
{% endblock %}
